In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('assets/crashmapper.csv')
df.head()

,the_geom,cartodb_id,socrata_id,on_street_name,cross_street_name,date_time,latitude,longitude,borough,zip_code,...,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,number_of_pedestrian_injured,number_of_pedestrian_killed,number_of_persons_injured,number_of_persons_killed,contributing_factors,vehicle_types
0,0101000020E61000009BC937DBDC7E52C07F4B00FE295D...,2509642,4124171,AVENUE A,NaN,2019-04-29 16:55:00+00,40.727844,-73.98223,Manhattan,10009.0,...,1,0,0,0,0,0,1,0,Alcohol Involvement,Bike
1,0101000020E61000001092054CE07E52C09FAD8383BD55...,2413283,4069947,6 AVENUE,NaN,2019-01-27 18:15:00+00,40.669846,-73.98244,Brooklyn,11215.0,...,1,0,0,0,0,0,1,0,Unspecified,Bike
2,0101000020E61000004B766C04E27752C08505F7031E60...,2470114,4079675,37 AVENUE,NaN,2019-02-12 13:10:00+00,40.750916,-73.87317,Queens,11372.0,...,0,0,1,0,0,0,1,0,"Pavement Slippery,Driver Inattention/Distraction","Sedan,Sedan"
3,0101000020E61000000E10CCD1E37952C088D7F50B7667...,2694970,4231750,BRUCKNER EXPRESSWAY,NaN,2019-10-26 18:30:00+00,40.808290,-73.90453,Bronx,NaN,...,0,0,3,0,0,0,3,0,"Driver Inattention/Distraction,Unspecified,Uns...","Sedan,Sedan,Sedan"
4,0101000020E610000036936FB6B97F52C0E884D041975C...,2694996,4231476,MULBERRY STREET,NaN,2019-10-25 17:00:00+00,40.723366,-73.99571,Manhattan,10012.0,...,0,0,1,0,0,0,1,0,Driver Inattention/Distraction,NaN

In [4]:
df.shape

(78550, 21)

In [5]:
df.isna().sum()

the_geom                         6719
cartodb_id                          0
socrata_id                          0
on_street_name                  12542
cross_street_name               66017
date_time                           0
latitude                         6617
longitude                        6617
borough                          6807
zip_code                        29710
crash_count                         0
number_of_cyclist_injured           0
number_of_cyclist_killed            0
number_of_motorist_injured          0
number_of_motorist_killed           0
number_of_pedestrian_injured        0
number_of_pedestrian_killed         0
number_of_persons_injured           0
number_of_persons_killed            0
contributing_factors             1140
vehicle_types                    2033
dtype: int64

In [6]:
df = df.rename(columns={'socrata_id': 'collision_id',
                       'number_of_pedestrian_injured': 'number_of_pedestrians_injured',
                       'number_of_pedestrian_killed': 'number_of_pedestrians_killed' 
                       })
df.head()

,the_geom,cartodb_id,collision_id,on_street_name,cross_street_name,date_time,latitude,longitude,borough,zip_code,...,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_persons_injured,number_of_persons_killed,contributing_factors,vehicle_types
0,0101000020E61000009BC937DBDC7E52C07F4B00FE295D...,2509642,4124171,AVENUE A,NaN,2019-04-29 16:55:00+00,40.727844,-73.98223,Manhattan,10009.0,...,1,0,0,0,0,0,1,0,Alcohol Involvement,Bike
1,0101000020E61000001092054CE07E52C09FAD8383BD55...,2413283,4069947,6 AVENUE,NaN,2019-01-27 18:15:00+00,40.669846,-73.98244,Brooklyn,11215.0,...,1,0,0,0,0,0,1,0,Unspecified,Bike
2,0101000020E61000004B766C04E27752C08505F7031E60...,2470114,4079675,37 AVENUE,NaN,2019-02-12 13:10:00+00,40.750916,-73.87317,Queens,11372.0,...,0,0,1,0,0,0,1,0,"Pavement Slippery,Driver Inattention/Distraction","Sedan,Sedan"
3,0101000020E61000000E10CCD1E37952C088D7F50B7667...,2694970,4231750,BRUCKNER EXPRESSWAY,NaN,2019-10-26 18:30:00+00,40.808290,-73.90453,Bronx,NaN,...,0,0,3,0,0,0,3,0,"Driver Inattention/Distraction,Unspecified,Uns...","Sedan,Sedan,Sedan"
4,0101000020E610000036936FB6B97F52C0E884D041975C...,2694996,4231476,MULBERRY STREET,NaN,2019-10-25 17:00:00+00,40.723366,-73.99571,Manhattan,10012.0,...,0,0,1,0,0,0,1,0,Driver Inattention/Distraction,NaN

In [7]:
#datetime
df['date_time'] = pd.to_datetime(df['date_time'])
df.head()

,the_geom,cartodb_id,collision_id,on_street_name,cross_street_name,date_time,latitude,longitude,borough,zip_code,...,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_persons_injured,number_of_persons_killed,contributing_factors,vehicle_types
0,0101000020E61000009BC937DBDC7E52C07F4B00FE295D...,2509642,4124171,AVENUE A,NaN,2019-04-29 16:55:00+00:00,40.727844,-73.98223,Manhattan,10009.0,...,1,0,0,0,0,0,1,0,Alcohol Involvement,Bike
1,0101000020E61000001092054CE07E52C09FAD8383BD55...,2413283,4069947,6 AVENUE,NaN,2019-01-27 18:15:00+00:00,40.669846,-73.98244,Brooklyn,11215.0,...,1,0,0,0,0,0,1,0,Unspecified,Bike
2,0101000020E61000004B766C04E27752C08505F7031E60...,2470114,4079675,37 AVENUE,NaN,2019-02-12 13:10:00+00:00,40.750916,-73.87317,Queens,11372.0,...,0,0,1,0,0,0,1,0,"Pavement Slippery,Driver Inattention/Distraction","Sedan,Sedan"
3,0101000020E61000000E10CCD1E37952C088D7F50B7667...,2694970,4231750,BRUCKNER EXPRESSWAY,NaN,2019-10-26 18:30:00+00:00,40.808290,-73.90453,Bronx,NaN,...,0,0,3,0,0,0,3,0,"Driver Inattention/Distraction,Unspecified,Uns...","Sedan,Sedan,Sedan"
4,0101000020E610000036936FB6B97F52C0E884D041975C...,2694996,4231476,MULBERRY STREET,NaN,2019-10-25 17:00:00+00:00,40.723366,-73.99571,Manhattan,10012.0,...,0,0,1,0,0,0,1,0,Driver Inattention/Distraction,NaN

In [8]:
df['month'] = df['date_time'].dt.month
df['year'] = df['date_time'].dt.year
df.year.unique()

array([2019, 2020])

In [9]:
df.borough.unique()

array(['Manhattan', 'Brooklyn', 'Queens', 'Bronx', nan, 'Staten Island'],
      dtype=object)

In [10]:
df.borough.value_counts()
#df.isnull().sum()

Brooklyn         23843
Queens           21026
Bronx            12584
Manhattan        11159
Staten Island     3131
Name: borough, dtype: int64

Now we need to match the borough codes with our main ticket dataset, with some code tweaks

In [11]:
### SIMILAR TO TICKET DATA
boro_dict = {
             'nan':'0',
             'Manhattan':'1',
             'Bronx':'2',
             'Brooklyn':'3',
             'Queens':'4',
             'Staten Island':'5'
            }

df['boro_code'] = df['borough'].map(boro_dict)

In [12]:
df.head()

,the_geom,cartodb_id,collision_id,on_street_name,cross_street_name,date_time,latitude,longitude,borough,zip_code,...,number_of_motorist_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_persons_injured,number_of_persons_killed,contributing_factors,vehicle_types,month,year,boro_code
0,0101000020E61000009BC937DBDC7E52C07F4B00FE295D...,2509642,4124171,AVENUE A,NaN,2019-04-29 16:55:00+00:00,40.727844,-73.98223,Manhattan,10009.0,...,0,0,0,1,0,Alcohol Involvement,Bike,4,2019,1
1,0101000020E61000001092054CE07E52C09FAD8383BD55...,2413283,4069947,6 AVENUE,NaN,2019-01-27 18:15:00+00:00,40.669846,-73.98244,Brooklyn,11215.0,...,0,0,0,1,0,Unspecified,Bike,1,2019,3
2,0101000020E61000004B766C04E27752C08505F7031E60...,2470114,4079675,37 AVENUE,NaN,2019-02-12 13:10:00+00:00,40.750916,-73.87317,Queens,11372.0,...,0,0,0,1,0,"Pavement Slippery,Driver Inattention/Distraction","Sedan,Sedan",2,2019,4
3,0101000020E61000000E10CCD1E37952C088D7F50B7667...,2694970,4231750,BRUCKNER EXPRESSWAY,NaN,2019-10-26 18:30:00+00:00,40.808290,-73.90453,Bronx,NaN,...,0,0,0,3,0,"Driver Inattention/Distraction,Unspecified,Uns...","Sedan,Sedan,Sedan",10,2019,2
4,0101000020E610000036936FB6B97F52C0E884D041975C...,2694996,4231476,MULBERRY STREET,NaN,2019-10-25 17:00:00+00:00,40.723366,-73.99571,Manhattan,10012.0,...,0,0,0,1,0,Driver Inattention/Distraction,NaN,10,2019,1

In [13]:
for i in (df.on_street_name.unique()):
    print(i)

AVENUE A
6 AVENUE
37 AVENUE
BRUCKNER EXPRESSWAY
MULBERRY STREET
TRIBOROUGH BRIDGE
HUTCHINSON RIVER PARKWAY
OCEAN PARKWAY
LONG ISLAND EXPRESSWAY
EAST 161 STREET
PARKSIDE AVENUE
nan
EAST 116 STREET
BEDFORD AVENUE
41 AVENUE
THROGS NECK EXPY
WILLIAMSBURG BRIDGE OUTER ROADWA
CROSS ISLAND PARKWAY
VAN WYCK EXPWY
GROVE STREET
EAST 7 STREET
EAST KINGSBRIDGE ROAD
NORTH CONDUIT AVENUE
AMSTERDAM AVENUE
GOWANUS RAMP
111 AVENUE
WEST 135 STREET
NEW YORK AVENUE
THIRD AVE BRIDGE
DE KALB AVENUE
UTOPIA PARKWAY
BROOKLYN QUEENS EXPRESSWAY RAMP
AVENUE Z
ROOSEVELT AVENUE
NEW UTRECHT AVENUE
LITTLE NECK PARKWAY
ANDREWS AVENUE
61 STREET
WEST 155 STREET
JACKIE ROBINSON PKWY
AVENUE K
BRUCKNER BOULEVARD
NEW ENGLAND THRUWAY
242 STREET
SHORE ROAD
linden ave
160 STREET
BROOKLYN BRIDGE
EASTERN PARKWAY
7 AVENUE
186 STREET
FULTON STREET
GRAND CENTRAL PKWY
ALABAMA AVENUE
VERRAZANO BRIDGE LOWER
FLATBUSH AVENUE
MAROLLA PLACE
RIVERSIDE DRIVE
STATEN ISLAND EXPRESSWAY
MANHATTAN AVENUE
BEACH 37 STREET
41 STREET
3 AVENUE
HOE AVENUE
20 AVENUE
EAST TREMONT AVENUE
WILLIS AVE BRIDGE
147 AVENUE
132 STREET
12 AVENUE
VANDERBILT AVENUE
AVENUE X
VERRAZANO BRIDGE UPPER
CROSS ISLAND PKWY
bruckner avenue
FDR DRIVE
DE GRAW STREET
WEST BURNSIDE AVENUE
LOTT AVENUE
BELT PARKWAY RAMP
LAFAYETTE AVENUE
FOUNTAIN AVENUE
99 STREET
NASSAU EXPRESSWAY
EAST 92 STREET
RALPH AVENUE
GRAND CENTRAL PARKWAY
21 STREET
80 ROAD
59 DRIVE
QUEENSBORO BRIDGE UPPER
NOSTRAND AVENUE
ORLOFF AVENUE
GORDON STREET
CROSS BRONX EXPY RAMP
EAST 86 STREET
TARGEE STREET
QUEENSBORO BRIDGE LOWER ROADWAY
CENTER BOULEVARD
BAYCHESTER AVENUE
LINDEN BOULEVARD
QUENTIN ROAD
OCEAN AVENUE
UTICA AVENUE
8 AVENUE
RIVERDALE AVENUE
STATEN ISLAND EXPRESSWAY RAMP
MACE AVENUE
SOUTH CONDUIT AVENUE
BAY STREET
BRONX WHITESTONE BRIDGE
WILSON AVENUE
QUEENS MIDTOWN EXPY
WEBSTER AVENUE
MERMAID AVENUE
RICHMOND AVENUE
243 STREET
136 AVENUE
WOOD AVENUE
MORRIS PARK AVENUE
263 STREET
GRAND AVENUE
EAST 149 STREET
MAJOR DEEGAN EXPRESSWAY RAMP
CLOVE ROAD
SOUTH RAILROAD AVENUE
WEST 207 STREET
SHORE PARKWAY
58 STREET
WOODHAVEN BOULEVARD
WEST 132 STREET
86 STREET
JAMAICA AVENUE
PARSONS BOULEVARD
TIOGA WALK
166 STREET
92 STREET
EAST 165 STREET
54 AVENUE
24 STREET
baisley boulevard
VANWYCK EXPRESSWAY
TROY AVENUE
HYLAN BOULEVARD
HENRY HUDSON PARKWARY
BELT PARKWAY
BRONX RIVER PARKWAY RAMP
UNION TURNPIKE
WEST 139 STREET
FOSTER AVENUE
28 AVENUE
WEST 97 STREET
PENNSYLVANIA AVENUE
WOODSIDE AVENUE
DAVIDSON AVENUE
LAURELTON PARKWAY
EAST FORDHAM ROAD
EAST 94 STREET
2 AVENUE
EAST 36 STREET
37 STREET
84 STREET
HILLSIDE AVENUE
MOSHOLU PARKWAY
ANTHONY AVENUE
4 AVENUE
EAST 138 STREET
SKILLMAN AVENUE
PROSPECT EXPRESSWAY RAMP
belt parkway
THROGS NECK BRIDGE
88 AVENUE
GRAND ARMY PLAZA
LEWIS AVENUE
ROGERS PLACE
BAY PARKWAY
69 ROAD
WEST STREET
MERIDIAN ROAD
VANWYCK EXPRESSWAY EXTENSION
5 AVENUE
BROOKLYN QUEENS EXPRESSWAY
CARVER LOOP
EAST 72 STREET
Lafayette avenue
LIE LOWER LEVEL (CDR)
43 STREET
ORCHARD BEACH ROAD
EAST DRIVE
MACOMBS DAM BRIDGE
46 AVENUE
147 STREET
SARATOGA AVENUE
KINGS HIGHWAY
83 STREET
MYRTLE AVENUE
58 AVENUE
GRANT HIGHWAY
HUGH J GRANT CIRCLE
BRADHURST AVENUE
35 AVENUE
BROADWAY
PARK AVENUE
223 PLACE
marginal street
183 STREET
PELHAM PARKWAY NORTH
68 STREET
GREENE AVENUE
ATLANTIC AVENUE
EAST 31 STREET
LENOX AVENUE
WASHINGTON BRIDGE 181 ST
WILLIAMSBURG BRIDGE INNER ROADWA
ADAMS STREET
PELHAM PARKWAY
126 STREET
63 dr
WEST 101 STREET
GRAND CONCOURSE
BRUSH AVENUE
KISSENA BOULEVARD
WHITESTONE EXPRESSWAY
FDR DRIVE RAMP
6 avenue
CHURCH AVENUE
ROCKAWAY FREEWAY
WEST FORDHAM ROAD
EAST 124 STREET
EAST 144 STREET
WEST GUN HILL ROAD
QUEENS MIDTOWN TUNNEL
FORSYTH STREET
CONTINENTAL AVENUE
CROSS BAY BOULEVARD
EINSTEIN LOOP
115 AVENUE
HOOK CROOK CREEK BOULEVARD
BROOKVILLE BOULEVARD
UNIVERSITY AVENUE
KEW GARDEN ROAD
WEST 5 STREET
HENRY HUDSON PARKWAY
81 STREET
GATES AVENUE
GREENPOINT AVENUE
METROPOLITAN AVENUE
CROSS BRONX EXPRESSWAY
13 AVENUE
SOUTHERN BOULEVARD
NORTHERN BOULEVARD
seagirt blvd
CYPRESS HILLS STREET
L.I.E / G.C.P CDR
CENTRAL PARK SOUTH
WEST 42 STREET
AVENUE J
LINDEN PLACE
REID AVENUE
THOMAS S BOYLAND
128 STREET
69 STREET
BROOKLYN QUEENS EXPY (CDR)
WHITE PLAINS ROAD
AMBOY ROAD
WEST 40 STREET
ASTORIA BOULEVARD
CYPRESS AVENUE
CASE STREET
31 AVENUE
MERRICK BOULEVARD
161 STREET
HORACE HARDING EXPRESSWAY
E Fordham Rd
KINGSLAND AVENUE
147 street
Sedgwick Avenue
FRANCIS LEWIS BOULEVARD
avenue x
SHERIDAN EXPRESSWAY RAMP
WINDSOR PLACE
CROSS BRONX EXPY
11 AVENUE
BRONX RIVER PARKWAY
9 AVENUE
MAIN STREET
73 AVENUE
BROOKLYN BATTERY TUNNEL
ARTHUR KILL ROAD
FOREST AVENUE
168 STREET
SCHENECTADY AVENUE
AVENUE O
Third Ave
QUEENSBORO BRIDGE LOWER
SPRINGFIELD BOULEVARD
EAST 26 STREET
BERRY STREET
GRAHAM AVENUE
WHITTIER STREET
westchester ave
BOND STREET
BORDEN AVENUE
COURTLANDT AVENUE
EAST 52 STREET
18 AVENUE
SCHAEFER STREET
130 AVENUE
HARLEM RIVER DRIVE
CORONA AVENUE
LENOX ROAD
99 Street
EXTERIOR STREET
CROSS BAY BRIDGE
SEAGIRT BOULEVARD
93 AVENUE
WEST 16 STREET
102 CROSS DRIVE
193 STREET
East 179
STANLEY AVENUE
ST JAMES PLACE
FLEET PLACE
JACKSON AVENUE
EAST 29 STREET
60 STREET
ORIENTAL BOULEVARD
141 AVENUE
DEWEY AVENUE
99 AVENUE
G.C.P / L.I.E. (CDR)
STANTON STREET
HEGEMAN AVENUE
THIRD AVENUE
EAST 215 STREET
WEST 82 STREET
EAST 167 STREET
256 STREET
NEWKIRK AVENUE
AVENUE P
JUNCTION BOULEVARD
EAST 204 STREET
EAST GUN HILL ROAD
MILLER AVENUE
208 STREET
DITMARS BOULEVARD
BRONXDALE AVENUE
150 STREET
SUTTER AVENUE
ROCKAWAY BOULEVARD
EAST 67 STREET
CRESCENT STREET
EAST 182 STREET
MC DONALD AVENUE
EAST 120 STREET
LAGUARDIA AVENUE
COLLEGE POINT BOULEVARD
NORTH 12 STREET
113 STREET
223 STREET
KINGSBURY AVENUE
WYTHE AVENUE
BELMONT AVENUE
STANHOPE STREET
BURKE AVENUE
YELLOWSTONE BOULEVARD
BOGART STREET
165 STREET
EAST 6 STREET
WEST 145 STREET
FARMERS BOULEVARD
BEACH CHANNEL DRIVE
RANDALL AVENUE
MAJOR DEEGAN EXPRESSWAY
AVENUE S
WEST 46 STREET
14 AVENUE
147th Avenue
LAMONT AVENUE
WEST 171 STREET
180 STREET
GREENWICH STREET
MORRISON AVENUE
LORING PLACE SOUTH
FOREST HILL ROAD
65 STREET
MADISON AVE BRIDGE
WEST DRIVE
CROTONA AVENUE
VERRAZANO BRIDGE
NARROWS ROAD SOUTH
jefferson avenue
OCEAN TERRACE
S/B PARK AVENUE
meeker ave
VAN CORTLAND PARK SOUTH
EAST 8TH
VANDERVORT AVENUE
BORINQUEN PLACE
233 STREET
MADISON AVENUE
DAHILL ROAD
ALEXANDER HAMILTON BRIDGE
EAST 68 STREET
PARK CIRCLE
LIBERTY AVENUE
GUY R BREWER BOULEVARD
G.C.P. / C.I.P. (CDR)
EAST 163 STREET
BALCOM AVENUE
8 avenue
EMMONS AVENUE
OLD TOWN ROAD
WEST 125 STREET
KINGS HIGHWAY SOUTH
EAST 181 STREET
CASTLE HILL AVENUE
24 AVENUE
EAST NEW YORK AVENUE
WEST 137 STREET
FORT TRYON PARK
EAST 152 STREET
BEVERLEY ROAD
WEST 34 STREET
181 STREET
39 AVENUE
richmond ave
EAST 37 STREET
MURDOCK AVENUE
STEINWAY STREET
LEGGETT AVENUE
BARTOW AVENUE
ALBEE SQUARE
HOWARD AVENUE
AVENUE V
west 62 street
110 STREET
PELHAM BAY PARK WEST
EAST 168 STREET
GOWANUS EXPY (BQE)
LAUREL HILL BOULEVARD
224 STREET
WEST 15 STREET
95 AVENUE
HOLLYWOOD AVENUE
EAST 180 STREET
HUNTS POINT AVENUE
60 PLACE
ERSKINE STREET
32 PLACE
EAST 59 STREET
amboy road
39 STREET
15 STREET
1 AVENUE
185 STREET
HOYT AVENUE NORTH
HOOK CREEK BOULEVARD
EAST BEDFORD PARK BOULEVARD
76 STREET
51 STREET
108 STREET
PITKIN AVENUE
EAST 80 STREET
BRADDOCK AVENUE
162 STREET
VERNON BOULEVARD
CADMAN PLAZA WEST
142 STREET
WEST 96 STREET
SHERIDAN AVENUE
43 AVENUE
SNYDER AVENUE
BRUCKNER EXPRESSWAY RAMP
127 STREET
ALBANY AVENUE
ROSEDALE AVENUE
NATICK STREET
rockaway blvd
EAST BURNSIDE AVENUE
EAST 51 STREET
GOWANUS EXPRESSWAY
HAMILTON AVENUE
102 ROAD
MC GUINNESS BOULEVARD
GOETHALS ROAD NORTH
87 AVENUE
WEST KINGSBRIDGE ROAD
226 STREET
PLIMPTON AVENUE
144 AVENUE
RICHMAN PLAZA
ELSMERE PLACE
BOSTON ROAD
WEST 20 STREET
WEST 60 STREET
EASTCHESTER ROAD
MARATHON WAY
JEROME AVENUE
BUSHWICK AVENUE
HARMAN STREET
THROOP AVENUE
INGRAHAM STREET
HUDSON STREET
30 PLACE
EAST HOUSTON STREET
WEST 165 STREET
N. CONDUIT AVENUE
172nd
228 STREET
232 STREET
63 STREET
St Nicholas Ave
42 AVENUE
MARINE PARKWAY BRIDGE
COLUMBIA STREET
DOUGLASTON PARKWAY
NELSON STREET
17 STREET
WEST BROADWAY
TAYLOR AVENUE
PUTNAM AVENUE
Rockaway Beach Boulevard
FLUSHING AVENUE
NAVY STREET
79 STREET
173 STREET
QUEENS PLAZA SOUTH
EAST 166 STREET
AUSTIN STREET
FLATLANDS AVENUE
MANHATTAN BR LOWER
RUTLAND ROAD
103 AVENUE
EAST 130 STREET
111 STREET
WEST 152 STREET
CROTONA PARK SOUTH
WEST 136 STREET
80 STREET
VARICK STREET
EAST 233 STREET
114 STREET
EAST 188 STREET
WEST 142 STREET
WEST 94 STREET
ASTOR AVENUE
RICHMOND VALLEY ROAD
ARLINGTON PLACE
WALTON AVENUE
EAST 39 STREET
HARLEM RIVER DRIVE RAMP
SAINT NICHOLAS AVENUE
BROOKLYN AVENUE
WEST 69 STREET
EAST 82 STREET
LINDEN STREET
HANNAH STREET
167 STREET
9 STREET
REMSEN AVENUE
CATON AVENUE
WEST 49 STREET
WEST 50 STREET
GIFFORDS LANE
EAST 171 STREET
LINWOOD STREET
65 DRIVE
PROVOST AVENUE
UNION STREET
LEXINGTON AVENUE
SECOR AVENUE
NEW ENGLAND THRUWAY RAMP
CONEY ISLAND AVENUE
EAST 170 STREET
EAST 91 STREET
GERARD AVENUE
WILLIAMSBURG STREET EAST
29 STREET
EAST 213 STREET
SEDGWICK AVENUE
ROGERS AVENUE
QUEENS BOULEVARD
SMITH STREET
170 STREET
47 AVENUE
88 STREET
ROSS STREET
DECATUR STREET
SAINT ANNS AVENUE
KENT AVENUE
BAY RIDGE AVENUE
BOWERY
102 STREET
WESTCHESTER AVENUE
CLAY AVENUE
WASHINGTON AVENUE
15 AVENUE
CARPENTER AVENUE
UNION AVENUE
MATTHEWS AVENUE
149 AVENUE
33 STREET
TAPSCOTT STREET
CORTELYOU ROAD
TRAVIS AVENUE
45 STREET
40 AVENUE
HARRISON AVENUE
MONTGOMERY STREET
KNICKERBOCKER AVENUE
SANDS STREET
CLEARVIEW EXPRESSWAY
VICTORY BOULEVARD
114 ROAD
astoria boulevard
LOGAN AVENUE
19 AVENUE
MARCY AVENUE
TELLER AVENUE
ALBEMARLE ROAD
85 STREET
HIGHLAND BOULEVARD
109 AVENUE
QUEENSBORO BRIDGE UPPER ROADWAY
EAST 132 STREET
45 AVENUE
FRANKLIN STREET
MORRIS AVENUE
WEST 6 STREET
BRYANT AVENUE
BREWER BOULEVARD
30 AVENUE
BENNETT STREET
PALMER AVENUE
ROCKAWAY AVENUE
SUNRISE HIGHWAY
120 STREET
ALLERTON AVENUE
FRESH POND ROAD
MANSION STREET
BATHGATE AVENUE
AVENUE D
EAST 98 STREET
RICHMOND TERRACE
WEST 230 STREET
GLENWOOD ROAD
WILLETT AVENUE
AVENUE Y
7 AVENUE SOUTH
EAST WILLISTON AVENUE
EAST 172 STREET
PROSPECT STREET
SPOFFORD AVENUE
HUGH GRANT CIRCLE
EAST 53 STREET
SOUTH AVENUE
CASTLETON AVENUE
ROCKAWAY PARKWAY
MARCY PLACE
DYCKMAN STREET
NEWPORT STREET
WARING AVENUE
BOYLAND STREET
WEST 179 STREET
1 Avenue
WEST 57 STREET
TILDEN AVENUE
IRVING AVENUE
WEST BEDFORD PARK BOULEVARD
NATIONAL STREET
MERCER STREET
16 AVENUE
ENGLEWOOD AVENUE
EAST 184 STREET
81 AVENUE
217 STREET
MCCLEAN AVENUE
EAST 125 STREET
WEST 13 STREET
AVENUE OF THE AMERICAS
HAMMERSLEY AVENUE
JEWEL AVENUE
31 STREET
ELIOT AVENUE
NORTH END AVENUE
PRINCE STREET
CLINTONVILLE STREET
116 AVENUE
BAY RIDGE PARKWAY
MORGAN AVENUE
NORTH GANNON AVENUE
GENESEE AVENUE
BRONXWOOD AVENUE
EAST 18 STREET
CLAREMONT PARKWAY
MAYDA ROAD
AVENUE H
BOLTON AVENUE
WEST 141 STREET
WEST 41 STREET
CANAL STREET
SOUND VIEW AVENUE
HUGUENOT AVENUE
VIRGINIA STREET
AVENUE M
CONNER STREET
BARDWELL AVENUE
DENKER PLACE
EAST 42 STREET
EAST 106 STREET
WEST SHORE EXPRESSWAY RAMP
107 AVENUE
AVENUE L
REVIEW PLACE
EAST 2 STREET
RICHARDSON AVENUE
BAY 29 STREET
139 AVENUE
124 STREET
46 STREET
JEROME STREET
WILLIS AVENUE
WHITNEY AVENUE
PAULDING AVENUE
WEST 79 STREET
HENDERSON AVENUE
JAY STREET
REVERE AVENUE
61 AVENUE
BUFFALO AVENUE
BEDELL AVENUE
FILLMORE AVENUE
JENNINGS STREET
HALSEY STREET
145 STREET
WEST 56 STREET
CONKLIN AVENUE
SHERIDAN EXPRESSWAY
SLOSSON AVENUE
SAND LANE
WOOLLEY AVENUE
WEST SHORE EXPRESSWAY
PACIFIC STREET
NELSON AVENUE
153 STREET
CLARKSON AVENUE
WINTHROP STREET
WILLIAMSBRIDGE ROAD
TOWNSEND AVENUE
22 DRIVE
SAINT JAMES PLACE
ABINGDON AVENUE
WEST 72 STREET
NORTHERN BLVD
ARDEN AVENUE
CENTER AVENUE
VANDAM STREET
EAST 216 STREET
KATONAH AVENUE
RICHMOND ROAD
FULTON AVENUE
NEWTOWN AVENUE
LIVERPOOL STREET
AVENUE F
YORK AVENUE
VAN BUREN STREET
260 STREET
21 AVENUE
RF WAGNER SR PLACE
STOCKHOLM STREET
COOPER AVENUE
FARRAGUT ROAD
WEST 59 STREET
TYSENS LANE
14 STREET
WORTMAN AVENUE
NARROWS ROAD NORTH
WEEKS AVENUE
BOERUM PLACE
118 STREET
EAST 108 STREET
KEESEVILLE AVENUE
CONDUIT BOULEVARD
NEPTUNE AVENUE
WATER STREET
SAINT JOHNS PLACE
ALDERTON STREET
ESSEX STREET
BERGEN STREET
FLATLANDS 3 STREET
BEACH AVENUE
WASHINGTON SQUARE SOUTH
WEST 134 STREET
bayridge avenue
CALDWELL AVENUE
94 Street
ALSTYNE AVENUE
241 STREET
CORNELL AVENUE
HALL STREET
HAMILTON PLACE
PARK DRIVE EAST
HUBBARD STREET
17 AVENUE
164 STREET
WEST 119 STREET
BEDFORD PARK BOULEVARD
EAST 74 STREET
118 AVENUE
MOTT AVENUE
HUTCHINSON RIVER PARKWAY RAMP
WHITESTONE EXPRESSWAY SERVICE RD
EAST BROADWAY
OSTEGO STREET
QUEENSBORO BRIDGE
WILLIAMSBURG BRIDGE
110 AVENUE
belt pkwy
FINLAY AVENUE
5 avenue
SOUTHERN STATE PARKWAY
SHAKESPEARE AVENUE
lafayette avenue
LILY POND AVENUE
CLARENDON ROAD
OLMSTEAD AVENUE
SENECA AVENUE
LINCOLN AVENUE
WHITESONE EXPRESSWAY SERVICE RD
KINGSTON AVENUE
grand concourse
48 STREET
G.C.P. / JEWEL (CDR)
EAST 117 STREET
DEAN STREET
EAST MOUNT EDEN AVENUE
FOREST PARK DRIVE
EAST 139 STREET
LOGAN STREET
145 ST BRIDGE
ROCHESTER AVENUE
113 AVENUE
EVERGREEN AVENUE
PROSPECT PARK WEST
GUYON AVENUE
WASHINGTON STREET
ROSS AVENUE
EDGEMERE AVENUE
66 STREET
KOREAN WAR VETS PARKWAY
EAST 177 STREET
JERSEY STREET
ATLANTIC AVENUE & GEORGIA AVENUE
FOREST PARKWAY
94 STREET
10 AVENUE
68 AVENUE
EAST 76 STREET
LIVINGSTON STREET
101 AVENUE
SUTPHIN BOULEVARD
SCHMIDTS LANE
OSGOOD AVENUE
60 AVENUE
PLAZA STREET EAST
GOULDEN AVENUE
EAST 85 STREET
NAGLE AVENUE
HOXIE DRIVE
CENTREVILLE AVENUE
BLAKE AVENUE
205 STREET
EMPIRE BOULEVARD
WILLETS POINT BOULEVARD
FORT HAMILTON PARKWAY
GEORGIA ROAD
WETHEROLE STREET
NORTH 10 STREET
EAST 17 STREET
RIVER AVENUE
CRUGER AVENUE
64 AVENUE
SEAVER AVENUE
WEST 53 STREET
jamaica ave
89 AVENUE
EAST 220 STREET
PROSPECT EXPRESSWAY EAST
149 STREET
55 STREET
28 STREET
GOLD STREET
NEW LOTS AVENUE
LOUIS STREET
19 STREET
CENTRE STREET
EAST 73 STREET
WEST 177 STREET
146 STREET
BRADFORD STREET
64 STREET
GATEWAY DRIVE
71 AVENUE
175 st
EAST 109 STREET
WEST 64 STREET
Richmond Avenue
150 PLACE
32 AVENUE
MANOR ROAD
DITMAS AVENUE
glenmore ave
ATKINS AVENUE
THROGS NECK EXPRESSWAY
ROCKAWAY BLVD
HOOVER AVENUE
EAST 88 STREET
MAURICE AVE
EAST 10 STREET
EAST 222 STREET
WEST 51 STREET
EAST 135 STREET
MELROSE AVENUE
62 DRIVE
PROSPECT PARK SOUTHWEST
EAST 49 STREET
EAST 63 STREET
MONTGOMERY AVENUE
204 STREET
ELMHURST AVENUE
EAST 81 STREET
104 STREET
ABERDEEN STREET
MEEKER AVENUE
CRESTON AVENUE
EAST 50 STREET
NORTH RAILROAD AVENUE
CORTELYOU AVENUE
BROOK AVENUE
HULL AVENUE
EAST 199 STREET
EDENWALD AVENUE
38 AVENUE
CENTRAL AVENUE
35 STREET
EAST 97 STREET
BAY AVENUE
WYCKOFF AVENUE
22 STREET
BRONX RIVER AVENUE
23 STREET
MARTENSE STREET
EAST 9 STREET
SAULTELL AVENUE
156 STREET
HOME STREET
138 STREET
71 STREET
NICHOLS AVENUE
AVENUE N
Thomas Boyland St
DUNKIRK STREET
AMBOY LANE
CAPODANNO BOULEVARD
YORK STREET
BAY 52 STREET
BEACH 115 STREET
SCOTT AVENUE
121 STREET
67 STREET
75 STREET
MILES AVENUE
34 AVENUE
WEST 8 STREET
WEST 39 STREET
122 STREET
DORCHESTER ROAD
AVENUE T
CEDAR AVENUE
DRY HARBOR ROAD
WEST 163 STREET
BLEECKER STREET
WEST 254 STREET
PROSPECT AVENUE
MACDOUGAL STREET
KOSCIUSZKO STREET
OLIVER PLACE
CARLTON BOULEVARD
EAST 174 STREET
BUHRE AVENUE
LEFFERTS BOULEVARD
62 STREET
8 STREET
HUMBOLDT STREET
STATE STREET
Gold St
CAMPUS ROAD
WEST 23 STREET
137 AVENUE
EAST 176 STREET
LANSING AVENUE
LELAND AVENUE
EAST 21 STREET
LIE OUTER ROADWAY (CDR)
Bay Plaza Boulevard
134 STREET
EAST 35 STREET
OVERING STREET
WEST 11 STREET
WOODYCREST AVENUE
EAST 211 STREET
SANDS PLACE
COOMBS STREET
south conduit blvd
DARLINGTON AVENUE
WEST 195 STREET
VETERANS ROAD WEST
50 STREET
74 STREET
MONROE AVENUE
EAST 210 STREET
WEST 14 STREET
HOPE STREET
MARION AVENUE
212 STREET
EAST 84 STREET
STUART STREET
WALLABOUT STREET
ASCAN AVENUE
COOLIDGE AVENUE
SEAMAN AVENUE
EAST 214 STREET
CHAMBERS STREET
52 STREET
EAST 129 STREET
EAST 58 STREET
AUDUBON AVENUE
CARLTON AVENUE
BAY 8 STREET
LORIMER STREET
100 STREET
EAST 56 STREET
GRAND STREET
EUCLID AVENUE
BAILEY AVENUE
EAST 241 STREET
JUNIPER VALLEY ROAD
45 ROAD
12 ROAD
TINTON AVENUE
VERMONT PLACE
TREADWELL AVENUE
RESERVOIR AVENUE
WOODROW ROAD
WILLIAMSBURG STREET WEST
140 STREET
WEST 2 STREET
SANFORD AVENUE
GREENE STREET
TILLOTSON AVENUE
107 STREET
SUMMERFIELD PLACE
DUMONT AVENUE
WEST 19 STREET
VANCORTLANDT PARK WEST
187 PLACE
123 STREET
HAVEMEYER STREET
WEST 111 STREET
SHERMAN AVENUE
LIVONIA AVENUE
FORT WASHINGTON AVENUE
34 STREET
WEST 33 STREET
ROCKLAND AVENUE
EAST 96 STREET
RAYMOND PLACE
EAST 99 STREET
BOONE AVENUE
STUYVESANT AVENUE
78 AVENUE
POMPEY AVENUE
73 STREET
119 AVENUE
BELL BOULEVARD
PATCHEN AVENUE
PELHAM PARKWAY SOUTH
WEST 164 STREET
PARK ROW
91 PLACE
CENTRAL PARK WEST
EAST 4 STREET
161 AVENUE
RICHMOND HILL ROAD
HAROLD STREET
PROSPECT EXPRESSWAY
VANNEST AVENUE
72 AVENUE
WEST 133 STREET
48 AVENUE
HIMROD STREET
EAST 134 STREET
WEST 169 STREET
Ocean parkway
EAST 169 STREET
ARLINGTON TERRACE
FRONT STREET
BARNES AVENUE
HAMPTON STREET
23 AVENUE
MOFFAT STREET
VERMILYEA AVENUE
PINEVILLE LANE
AVENUE I
SHEEPSHEAD BAY ROAD
131 AVENUE
PETTIT AVENUE
WEST 26 STREET
NASSAU STREET
THOMSON AVENUE
78 STREET
26 STREET
248 STREET
CANTERBURY AVENUE
HONEYWELL AVENUE
145 AVENUE
BROOME STREET
LACONIA AVENUE
BENSON AVENUE
EAST 14 STREET
WEST 43 STREET
EAST MOSHOLU PARKWAY SOUTH
WEST 70 STREET
WEST 28 STREET
144 PLACE
VIRGINIA AVENUE
linden boulevard
HOOPER STREET
guy r brewer
TOPPING AVENUE
HENRY HUDSON PARKWAY RAMP
EAST 54 STREET
EAST 34 STREET
BAY 28 STREET
UNION SQUARE EAST
56 DRIVE
221 STREET
NOLL STREET
WEST 55 STREET
WEST HOUSTON STREET
CROPSEY AVENUE
LAKEWOOD AVENUE
PROSPECT PLACE
EAST 158 STREET
189 STREET
ST. NICHOLAS AVENUE
119 STREET
WILLIS AVENUE BRIDGE
FURMANVILLE AVENUE
EAST 156 STREET
WEST END AVENUE
platinum ave
PARK AVENUE SOUTH
VAN SICLEN AVENUE
97 PLACE
HOLLIS COURT BOULEVARD
JESUP AVENUE
JEWETT AVENUE
WEST 131 STREET
STORY AVENUE
220 STREET
MOTHER GASTON BLVD
HEMPSTEAD AVENUE
AVENUE R
KNAPP STREET
MANHATTAN BR UPPER
33 AVENUE
132 AVENUE
SOUTH STREET
EAST 48 STREET
TOMPKINS AVENUE
GRENFELL STREET
MONROE STREET
MAPLE STREET
SCHROEDERS AVENUE
WEST 114 STREET
WEST 201 STREET
BAISLEY BOULEVARD
NEW HAVEN AVENUE
59 STREET
EAST 62 STREET
EAST 157 STREET
jamaica avenue
JEFFERSON AVENUE
97 AVENUE
TYNDALL AVENUE
WALDRON STREET
EAST 46 STREET
MAURICE AVENUE
49 STREET
HIGHLAND PLACE
WEST 91 STREET
ROMBOUTS AVENUE
VAN WYCK EXPRESSWAY (CDR)
ST MARKS AVENUE
92 AVENUE
EAST 93 STREET
169 STREET
EAST 164 STREET
DELANCEY STREET
WEST TREMONT AVENUE
225 STREET
WEST 170 STREET
82 STREET
EAST 201 STREET
SOUTH 4 STREET
50 AVENUE
30 DRIVE
NORTH 13 STREET
EAST 140 STREET
ASTOR PLACE
union turnpike
53 STREET
130 STREET
STRATFORD AVENUE
EAST 65 STREET
VINE STREET
EAST 227 STREET
ARLENE STREET
Belt parkway
26 AVENUE
AVENUE U
REGIS DRIVE
172 STREET
ALCOTT PLACE
LYDIG AVENUE
56 STREET
STRICKLAND AVENUE
COOP CITY BOULEVARD
SPRING STREET
ADEE AVENUE
st theresa AVE
GLEASON AVENUE
w brighton avenue
229 STREET
BEACH 22 STREET
CONCORD AVENUE
BENHAM STREET
COOPER STREET
Old Fulton Street
WEST 175 STREET
VALENTINE AVENUE
SUYDAM STREET
135 AVENUE
ODER AVENUE
WELL DRIVE
WEST 24 STREET
Astoria blvd north
east 58 street
186 LANE
summerfield street
HAVILAND AVNUE
141 STREET
LEBANON STREET
BEACH 79 STREET
EAST 89 STREET
AVENUE OF AMERICAS
roosevelt avenue
Ursina road
GARRISON AVENUE
SHEA ROAD
Northern Blvd
BILLINGSLY TERRACE
DIVISION AVENUE
perimeter road
hylan blvd
EAST 232 STREET
7 Avenue
245 STREET
FINK AVENUE
COLUMBUS AVENUE
FOCH BOULEVARD
RYERSON STREET
WEST 151 STREET
179 PLACE
156 AVENUE
Farmers blvd
WEST 238 STREET
WEST 21 STREET
RIEDEL AVENUE
NORTH 7 STREET
TRANSVERSE ROAD NUMBER ONE
EAST 112 STREET
70 STREET
BAYARD STREET
WARWICK STREET
HUBERT STREET
LEE AVENUE
TRANSVERSE ROAD NUMBER FOUR
ARCHER AVENUE
HOLLAND AVENUE
UNION TPKE
WEST 36 STREET
75 AVENUE
COURT STREET
LLOYD ROAD
ROEBLING STREET
WEST 17 STREET
231 STREET
ZEREGA AVENUE
EAST 224 STREET
RESERVOIR PLACE
NAPIER AVENUE
EAST 225 STREET
DEERFIELD ROAD
WYCKOFF STREET
COLLEGE AVENUE
BLOSSOM AVENUE
WHITLOCK AVENUE
BRIGHTWATER COURT
EDISON AVENUE
STRANG AVENUE
EAST 57 STREET
WEST 206 STREET
GATLING PLACE
ROCKAWAY BEACH BOULEVARD
EAST 3 STREET
MOTT STREET
79 AVENUE
SELWYN AVENUE
SKILLMAN STREET
PITMAN AVENUE
MAPLE AVENUE
STONE AVENUE
58 ROAD
27 STREET
64 ROAD
FREEDOM AVENUE
GRANT AVENUE
CYPRESS HILL STREET
WOODBINE STREET
169 street

In [14]:
### SIMILAR TO TICKET DATA
def clean_street_bert(df):
    '''
    Function cleans the street names slightly for better matching in BERT
    '''
        
    # clean white space
    df['on_street_clean'] = df['on_street_name'].str.replace(' +',' ',regex=True)
    
    # standardize some common street name patterns
    df['on_street_clean'] = df['on_street_clean'].str.replace(r"(E) ([0-9]+) (ST)",'EAST \g<2> STREET',regex=True)
    df['on_street_clean'] = df['on_street_clean'].str.replace(r"(W) ([0-9]+) (ST)",'WEST \g<2> STREET',regex=True)

    df['on_street_clean'] = df['on_street_clean'].str.replace(r" ST$",'STREET',regex=True)

    df['on_street_clean'] = df['on_street_clean'].str.replace(r" AVE$",'AVENUE',regex=True)
    
    df['on_street_clean'] = df['on_street_clean'].str.replace(r" PL$",'PLACE',regex=True)

    df['on_street_clean'] = df['on_street_clean'].str.replace(r" BLVD$",'BOULEVARD',regex=True)
    
    
    # ADD MORE BELOW HERE THAT IS DIFFERENT FROM TICKET DATA
    df['on_street_clean'] = df['on_street_clean'].str.replace(r" ROADWA$",'ROADWAY',regex=True)
    
    df['on_street_clean'] = df['on_street_clean'].str.replace(r" EXPY$",'EXPRESSWAY',regex=True)
    
    df['on_street_clean'] = df['on_street_clean'].str.replace(r" PKWY$",'PARKWAY',regex=True)
    
    
    
    ### DO IT ON ANOTHER COLUMN
    # clean white space
    df['cross_street_clean'] = df['cross_street_name'].str.replace(' +',' ',regex=True)
    
    # standardize some common street name patterns
    df['cross_street_clean'] = df['cross_street_clean'].str.replace(r"(E) ([0-9]+) (ST)",'EAST \g<2> STREET',regex=True)
    df['cross_street_clean'] = df['cross_street_clean'].str.replace(r"(W) ([0-9]+) (ST)",'WEST \g<2> STREET',regex=True)

    df['cross_street_clean'] = df['cross_street_clean'].str.replace(r" ST$",'STREET',regex=True)

    df['cross_street_clean'] = df['cross_street_clean'].str.replace(r" AVE$",'AVENUE',regex=True)
    
    df['cross_street_clean'] = df['cross_street_clean'].str.replace(r" PL$",'PLACE',regex=True)

    df['cross_street_clean'] = df['cross_street_clean'].str.replace(r" BLVD$",'BOULEVARD',regex=True)
    
    
    # ADD MORE BELOW HERE THAT IS DIFFERENT FROM TICKET DATA
    df['cross_street_clean'] = df['cross_street_clean'].str.replace(r" ROADWA$",'ROADWAY',regex=True)
    
    df['cross_street_clean'] = df['cross_street_clean'].str.replace(r" EXPY$",'EXPRESSWAY',regex=True)
    
    df['cross_street_clean'] = df['cross_street_clean'].str.replace(r" PKWY$",'PARKWAY',regex=True)
    
    return (df)

In [15]:
clean_street_bert(df)

,the_geom,cartodb_id,collision_id,on_street_name,cross_street_name,date_time,latitude,longitude,borough,zip_code,...,number_of_pedestrians_killed,number_of_persons_injured,number_of_persons_killed,contributing_factors,vehicle_types,month,year,boro_code,on_street_clean,cross_street_clean
0,0101000020E61000009BC937DBDC7E52C07F4B00FE295D...,2509642,4124171,AVENUE A,NaN,2019-04-29 16:55:00+00:00,40.727844,-73.982230,Manhattan,10009.0,...,0,1,0,Alcohol Involvement,Bike,4,2019,1,AVENUE A,NaN
1,0101000020E61000001092054CE07E52C09FAD8383BD55...,2413283,4069947,6 AVENUE,NaN,2019-01-27 18:15:00+00:00,40.669846,-73.982440,Brooklyn,11215.0,...,0,1,0,Unspecified,Bike,1,2019,3,6 AVENUE,NaN
2,0101000020E61000004B766C04E27752C08505F7031E60...,2470114,4079675,37 AVENUE,NaN,2019-02-12 13:10:00+00:00,40.750916,-73.873170,Queens,11372.0,...,0,1,0,"Pavement Slippery,Driver Inattention/Distraction","Sedan,Sedan",2,2019,4,37 AVENUE,NaN
3,0101000020E61000000E10CCD1E37952C088D7F50B7667...,2694970,4231750,BRUCKNER EXPRESSWAY,NaN,2019-10-26 18:30:00+00:00,40.808290,-73.904530,Bronx,NaN,...,0,3,0,"Driver Inattention/Distraction,Unspecified,Uns...","Sedan,Sedan,Sedan",10,2019,2,BRUCKNER EXPRESSWAY,NaN
4,0101000020E610000036936FB6B97F52C0E884D041975C...,2694996,4231476,MULBERRY STREET,NaN,2019-10-25 17:00:00+00:00,40.723366,-73.995710,Manhattan,10012.0,...,0,1,0,Driver Inattention/Distraction,NaN,10,2019,1,MULBERRY STREET,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78545,0101000020E610000067EDB60BCD7D52C018B49080D165...,3119299,4367864,WEST 100 STREET,NaN,2020-11-15 16:30:00+00:00,40.795456,-73.965640,Manhattan,10025.0,...,0,1,0,NaN,Sedan,11,2020,1,WEST 100 STREET,NaN
78546,0101000020E610000052499D80267F52C05FB87361A45B...,3125674,4374759,GRAND STREET,NaN,2020-12-08 08:05:00+00:00,40.715954,-73.986725,Manhattan,10002.0,...,0,1,0,Backing Unsafely,NaN,12,2020,1,GRAND STREET,NaN
78547,0101000020E610000032ACE28DCC7F52C0FB90B75CFD60...,3129674,4378570,WEST 39 STREET,NaN,2020-12-22 17:33:00+00:00,40.757732,-73.996860,Manhattan,10018.0,...,0,1,0,"Following Too Closely,Unspecified","Taxi,Station Wagon/Sport Utility Vehicle",12,2020,1,WEST 39 STREET,NaN
78548,0101000020E61000007B319413ED7E52C013B70A62A061...,3132474,4381366,BROADWAY,NaN,2020-12-29 00:12:00+00:00,40.762707,-73.983220,Manhattan,10019.0,...,0,1,0,"Traffic Control Disregarded,Unspecified","Sedan,Bike",12,2020,1,BROADWAY,NaN
78549,0101000020E61000007A36AB3E577552C06D567DAEB662...,3096715,4345591,WHITESTONE EXPRESSWAY,NaN,2020-09-06 18:05:00+00:00,40.771200,-73.833450,Queens,NaN,...,0,0,1,"Unsafe Lane Changing,Following Too Closely","Station Wagon/Sport Utility Vehicle,Motorcycle",9,2020,4,WHITESTONE EXPRESSWAY,NaN

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78550 entries, 0 to 78549
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   the_geom                       71831 non-null  object
 1   cartodb_id                     78550 non-null  int64
 2   collision_id                   78550 non-null  int64
 3   on_street_name                 66008 non-null  object
 4   cross_street_name              12533 non-null  object
 5   date_time                      78550 non-null  datetime64[ns, UTC]
 6   latitude                       71933 non-null  float64
 7   longitude                      71933 non-null  float64
 8   borough                        71743 non-null  object
 9   zip_code                       48840 non-null  float64
 10  crash_count                    78550 non-null  int64
 11  number_of_cyclist_injured      78550 non-null  int64
 12  number_of_cyclist_killed       78550 non-null  int64
 13  number_of_motorist_injured     78550 non-null  int64
 14  number_of_motorist_killed      78550 non-null  int64
 15  number_of_pedestrians_injured  78550 non-null  int64
 16  number_of_pedestrians_killed   78550 non-null  int64
 17  number_of_persons_injured      78550 non-null  int64
 18  number_of_persons_killed       78550 non-null  int64
 19  contributing_factors           77410 non-null  object
 20  vehicle_types                  76517 non-null  object
 21  month                          78550 non-null  int64
 22  year                           78550 non-null  int64
 23  boro_code                      71743 non-null  object
 24  on_street_clean                66008 non-null  object
 25  cross_street_clean             12533 non-null  object
dtypes: datetime64[ns, UTC](1), float64(3), int64(13), object(9)
memory usage: 15.6+ MB

In [17]:
df['zip_code'] = df['zip_code'].fillna(0)
df['zip_code'] = df['zip_code'].astype(int)

In [18]:
crash19 = df[df['year'] == 2019]
#crash19.to_csv(r'/Users/sheila/milestone1/projects/assets/crash19.csv', index=False)

crash20 = df[df['year'] == 2020]
#crash20.to_csv(r'/Users/sheila/milestone1/projects/assets/crash19.csv', index=False)

# Collision 2019-2020

In [19]:
col19 = pd.read_csv('assets/col19.csv')
col19.head()

,crash_date,crash_time,borough,zip_code,latitude,longitude,location,on_street_name,cross_street_name,off_street_name,...,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code_1,vehicle_type_code_2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5,month,year
0,2019-10-29,7:00,NaN,NaN,NaN,NaN,NaN,BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,...,NaN,NaN,4232589,Pick-up Truck,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,10,2019
1,2019-07-22,9:00,BROOKLYN,11229.0,40.59807,-73.95817,"(40.59807, -73.95817)",NaN,NaN,2116 EAST 13 STREET,...,NaN,NaN,4174941,Sedan,NaN,NaN,NaN,NaN,7,2019
2,2019-10-28,0:00,BRONX,10467.0,NaN,NaN,NaN,EAST 213 STREET,WHITE PLAINS ROAD,NaN,...,NaN,NaN,4230532,Pick-up Truck,Sedan,NaN,NaN,NaN,10,2019
3,2019-06-23,11:00,QUEENS,11421.0,40.69401,-73.86310,"(40.69401, -73.8631)",NaN,NaN,85-69 80 STREET,...,NaN,NaN,4158135,Sedan,Sedan,NaN,NaN,NaN,6,2019
4,2019-10-28,0:10,QUEENS,11434.0,NaN,NaN,NaN,belt parkway,150 street,NaN,...,NaN,NaN,4230851,Sedan,NaN,NaN,NaN,NaN,10,2019

In [20]:
col20 = pd.read_csv('assets/col20.csv')
col20.head()

,crash_date,crash_time,borough,zip_code,latitude,longitude,location,on_street_name,cross_street_name,off_street_name,...,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code_1,vehicle_type_code_2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5,month,year
0,2020-12-11,20:40,NaN,NaN,40.741074,-73.72580,"(40.741074, -73.7258)",CROSS ISLAND PARKWAY,UNION TURNPIKE,NaN,...,NaN,NaN,4375244,Sedan,Sedan,NaN,NaN,NaN,12,2020
1,2020-12-12,2:54,NaN,NaN,NaN,NaN,NaN,STATEN ISLAND EXPRESSWAY,NaN,NaN,...,NaN,NaN,4376234,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,12,2020
2,2020-12-23,18:03,BROOKLYN,11219.0,40.637054,-73.98643,"(40.637054, -73.98643)",14 AVENUE,43 STREET,NaN,...,NaN,NaN,4380252,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,12,2020
3,2020-12-05,18:42,NaN,NaN,40.801754,-73.93121,"(40.801754, -73.93121)",1 AVENUE,EAST 125 STREET,NaN,...,NaN,NaN,4373655,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,12,2020
4,2020-12-08,12:25,BROOKLYN,11203.0,40.653324,-73.93829,"(40.653324, -73.93829)",LINDEN BOULEVARD,EAST 42 STREET,NaN,...,NaN,NaN,4374467,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,12,2020

In [21]:
### SIMILAR TO TICKET DATA
def clean_street_bert2(df):
    '''
    Function cleans the street names slightly for better matching in BERT
    '''
        
    # clean white space
    df['on_street_clean'] = df['on_street_name'].str.replace(' +',' ',regex=True)
    
    # standardize some common street name patterns
    df['on_street_clean'] = df['on_street_clean'].str.replace(r"(E) ([0-9]+) (ST)",'EAST \g<2> STREET',regex=True)
    df['on_street_clean'] = df['on_street_clean'].str.replace(r"(W) ([0-9]+) (ST)",'WEST \g<2> STREET',regex=True)

    df['on_street_clean'] = df['on_street_clean'].str.replace(r" ST$",'STREET',regex=True)

    df['on_street_clean'] = df['on_street_clean'].str.replace(r" AVE$",'AVENUE',regex=True)
    
    df['on_street_clean'] = df['on_street_clean'].str.replace(r" PL$",'PLACE',regex=True)

    df['on_street_clean'] = df['on_street_clean'].str.replace(r" BLVD$",'BOULEVARD',regex=True)
    
    
    # ADD MORE BELOW HERE THAT IS DIFFERENT FROM TICKET DATA
    df['on_street_clean'] = df['on_street_clean'].str.replace(r" ROADWA$",'ROADWAY',regex=True)
    
    df['on_street_clean'] = df['on_street_clean'].str.replace(r" EXPY$",'EXPRESSWAY',regex=True)
    
    df['on_street_clean'] = df['on_street_clean'].str.replace(r" PKWY$",'PARKWAY',regex=True)
    
    
    
    ### DO IT ON ANOTHER COLUMN
    # clean white space
    df['cross_street_clean'] = df['cross_street_name'].str.replace(' +',' ',regex=True)
    
    # standardize some common street name patterns
    df['cross_street_clean'] = df['cross_street_clean'].str.replace(r"(E) ([0-9]+) (ST)",'EAST \g<2> STREET',regex=True)
    df['cross_street_clean'] = df['cross_street_clean'].str.replace(r"(W) ([0-9]+) (ST)",'WEST \g<2> STREET',regex=True)

    df['cross_street_clean'] = df['cross_street_clean'].str.replace(r" ST$",'STREET',regex=True)

    df['cross_street_clean'] = df['cross_street_clean'].str.replace(r" AVE$",'AVENUE',regex=True)
    
    df['cross_street_clean'] = df['cross_street_clean'].str.replace(r" PL$",'PLACE',regex=True)

    df['cross_street_clean'] = df['cross_street_clean'].str.replace(r" BLVD$",'BOULEVARD',regex=True)
    
    
    # ADD MORE BELOW HERE THAT IS DIFFERENT FROM TICKET DATA
    df['cross_street_clean'] = df['cross_street_clean'].str.replace(r" ROADWA$",'ROADWAY',regex=True)
    
    df['cross_street_clean'] = df['cross_street_clean'].str.replace(r" EXPY$",'EXPRESSWAY',regex=True)
    
    df['cross_street_clean'] = df['cross_street_clean'].str.replace(r" PKWY$",'PARKWAY',regex=True)
    
    
    ### DO IT ON ANOTHER COLUMN
    # clean white space
    df['off_street_clean'] = df['off_street_name'].str.replace(' +',' ',regex=True)
    
    # standardize some common street name patterns
    df['off_street_clean'] = df['off_street_clean'].str.replace(r"(E) ([0-9]+) (ST)",'EAST \g<2> STREET',regex=True)
    df['off_street_clean'] = df['off_street_clean'].str.replace(r"(W) ([0-9]+) (ST)",'WEST \g<2> STREET',regex=True)

    df['off_street_clean'] = df['off_street_clean'].str.replace(r" ST$",'STREET',regex=True)

    df['off_street_clean'] = df['off_street_clean'].str.replace(r" AVE$",'AVENUE',regex=True)
    
    df['off_street_clean'] = df['off_street_clean'].str.replace(r" PL$",'PLACE',regex=True)

    df['off_street_clean'] = df['off_street_clean'].str.replace(r" BLVD$",'BOULEVARD',regex=True)
    
    
    # ADD MORE BELOW HERE THAT IS DIFFERENT FROM TICKET DATA
    df['off_street_clean'] = df['off_street_clean'].str.replace(r" ROADWA$",'ROADWAY',regex=True)
    
    df['off_street_clean'] = df['off_street_clean'].str.replace(r" EXPY$",'EXPRESSWAY',regex=True)
    
    df['off_street_clean'] = df['off_street_clean'].str.replace(r" PKWY$",'PARKWAY',regex=True)
    
    return (df)

In [22]:
clean_street_bert2(col19)

,crash_date,crash_time,borough,zip_code,latitude,longitude,location,on_street_name,cross_street_name,off_street_name,...,vehicle_type_code_1,vehicle_type_code_2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5,month,year,on_street_clean,cross_street_clean,off_street_clean
0,2019-10-29,7:00,NaN,NaN,NaN,NaN,NaN,BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,...,Pick-up Truck,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,10,2019,BROOKLYN QUEENS EXPRESSWAY,NaN,NaN
1,2019-07-22,9:00,BROOKLYN,11229.0,40.598070,-73.958170,"(40.59807, -73.95817)",NaN,NaN,2116 EAST 13 STREET,...,Sedan,NaN,NaN,NaN,NaN,7,2019,NaN,NaN,2116 EAST 13 STREET
2,2019-10-28,0:00,BRONX,10467.0,NaN,NaN,NaN,EAST 213 STREET,WHITE PLAINS ROAD,NaN,...,Pick-up Truck,Sedan,NaN,NaN,NaN,10,2019,EAST 213 STREET,WHITE PLAINS ROAD,NaN
3,2019-06-23,11:00,QUEENS,11421.0,40.694010,-73.863100,"(40.69401, -73.8631)",NaN,NaN,85-69 80 STREET,...,Sedan,Sedan,NaN,NaN,NaN,6,2019,NaN,NaN,85-69 80 STREET
4,2019-10-28,0:10,QUEENS,11434.0,NaN,NaN,NaN,belt parkway,150 street,NaN,...,Sedan,NaN,NaN,NaN,NaN,10,2019,belt parkway,150 street,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211476,2019-01-02,10:00,BROOKLYN,11203.0,40.656483,-73.924080,"(40.656483, -73.92408)",REMSEN AVENUE,EAST 57 STREET,NaN,...,Sedan,NaN,NaN,NaN,NaN,1,2019,REMSEN AVENUE,EAST 57 STREET,NaN
211477,2019-01-01,18:20,BROOKLYN,11217.0,40.687770,-73.987010,"(40.68777, -73.98701)",ATLANTIC AVENUE,HOYT STREET,NaN,...,Sedan,NaN,NaN,NaN,NaN,1,2019,ATLANTIC AVENUE,HOYT STREET,NaN
211478,2019-01-03,3:45,BRONX,10468.0,40.860718,-73.900406,"(40.860718, -73.900406)",NaN,NaN,2396 MORRIS AVENUE,...,Sedan,Sedan,NaN,NaN,NaN,1,2019,NaN,NaN,2396 MORRIS AVENUE
211479,2019-01-01,2:25,BROOKLYN,11208.0,40.665905,-73.877780,"(40.665905, -73.87778)",HEGEMAN AVENUE,SHEPHERD AVENUE,NaN,...,Sedan,Sedan,NaN,NaN,NaN,1,2019,HEGEMAN AVENUE,SHEPHERD AVENUE,NaN
211480,2019-01-01,21:14,MANHATTAN,10029.0,40.798622,-73.941630,"(40.798622, -73.94163)",EAST 116 STREET,LEXINGTON AVENUE,NaN,...,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,1,2019,EAST 116 STREET,LEXINGTON AVENUE,NaN

In [23]:
clean_street_bert2(col20)

,crash_date,crash_time,borough,zip_code,latitude,longitude,location,on_street_name,cross_street_name,off_street_name,...,vehicle_type_code_1,vehicle_type_code_2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5,month,year,on_street_clean,cross_street_clean,off_street_clean
0,2020-12-11,20:40,NaN,NaN,40.741074,-73.72580,"(40.741074, -73.7258)",CROSS ISLAND PARKWAY,UNION TURNPIKE,NaN,...,Sedan,Sedan,NaN,NaN,NaN,12,2020,CROSS ISLAND PARKWAY,UNION TURNPIKE,NaN
1,2020-12-12,2:54,NaN,NaN,NaN,NaN,NaN,STATEN ISLAND EXPRESSWAY,NaN,NaN,...,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,12,2020,STATEN ISLAND EXPRESSWAY,NaN,NaN
2,2020-12-23,18:03,BROOKLYN,11219.0,40.637054,-73.98643,"(40.637054, -73.98643)",14 AVENUE,43 STREET,NaN,...,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,12,2020,14 AVENUE,43 STREET,NaN
3,2020-12-05,18:42,NaN,NaN,40.801754,-73.93121,"(40.801754, -73.93121)",1 AVENUE,EAST 125 STREET,NaN,...,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,12,2020,1 AVENUE,EAST 125 STREET,NaN
4,2020-12-08,12:25,BROOKLYN,11203.0,40.653324,-73.93829,"(40.653324, -73.93829)",LINDEN BOULEVARD,EAST 42 STREET,NaN,...,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,12,2020,LINDEN BOULEVARD,EAST 42 STREET,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112843,2020-01-10,21:00,QUEENS,11418.0,40.702720,-73.83807,"(40.70272, -73.83807)",84 AVENUE,113 STREET,NaN,...,Sedan,NaN,NaN,NaN,NaN,1,2020,84 AVENUE,113 STREET,NaN
112844,2020-01-06,19:00,MANHATTAN,10021.0,40.767803,-73.95601,"(40.767803, -73.95601)",1 AVENUE,EAST 72 STREET,NaN,...,Taxi,Pick-up Truck,NaN,NaN,NaN,1,2020,1 AVENUE,EAST 72 STREET,NaN
112845,2020-01-03,18:14,NaN,NaN,40.884033,-73.89797,"(40.884033, -73.89797)",WEST 238 STREET,NaN,NaN,...,Minibike,NaN,NaN,NaN,NaN,1,2020,WEST 238 STREET,NaN,NaN
112846,2020-01-12,20:00,BROOKLYN,11212.0,40.654312,-73.91759,"(40.654312, -73.91759)",LINDEN BOULEVARD,CHURCH AVENUE,NaN,...,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,1,2020,LINDEN BOULEVARD,CHURCH AVENUE,NaN
112847,2020-01-08,17:10,NaN,NaN,40.691433,-73.89063,"(40.691433, -73.89063)",VERMONT PLACE,NaN,NaN,...,Sedan,Sedan,NaN,NaN,NaN,1,2020,VERMONT PLACE,NaN,NaN

In [24]:
### SIMILAR TO TICKET DATA
boro_dict = {
             'nan':'0',
             'Manhattan':'1',
             'Bronx':'2',
             'Brooklyn':'3',
             'Queens':'4',
             'Staten Island':'5'
            }

col19['boro_code'] = col19['borough'].map(boro_dict)
col20['boro_code'] = col20['borough'].map(boro_dict)

In [25]:
col19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211481 entries, 0 to 211480
Data columns (total 35 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   crash_date                     211481 non-null  object
 1   crash_time                     211481 non-null  object
 2   borough                        137023 non-null  object
 3   zip_code                       136978 non-null  float64
 4   latitude                       194111 non-null  float64
 5   longitude                      194111 non-null  float64
 6   location                       194111 non-null  object
 7   on_street_name                 160481 non-null  object
 8   cross_street_name              104198 non-null  object
 9   off_street_name                50972 non-null   object
 10  number_of_persons_injured      211481 non-null  float64
 11  number_of_persons_killed       211481 non-null  float64
 12  number_of_pedestrians_injured  211481 non-null  int64
 13  number_of_pedestrians_killed   211481 non-null  int64
 14  number_of_cyclist_injured      211481 non-null  int64
 15  number_of_cyclist_killed       211481 non-null  int64
 16  number_of_motorist_injured     211481 non-null  int64
 17  number_of_motorist_killed      211481 non-null  int64
 18  contributing_factor_vehicle_1  210748 non-null  object
 19  contributing_factor_vehicle_2  178205 non-null  object
 20  contributing_factor_vehicle_3  14099 non-null   object
 21  contributing_factor_vehicle_4  2996 non-null    object
 22  contributing_factor_vehicle_5  798 non-null     object
 23  collision_id                   211481 non-null  int64
 24  vehicle_type_code_1            210104 non-null  object
 25  vehicle_type_code_2            167027 non-null  object
 26  vehicle_type_code_3            13485 non-null   object
 27  vehicle_type_code_4            2900 non-null    object
 28  vehicle_type_code_5            777 non-null     object
 29  month                          211481 non-null  int64
 30  year                           211481 non-null  int64
 31  on_street_clean                160481 non-null  object
 32  cross_street_clean             104198 non-null  object
 33  off_street_clean               50972 non-null   object
 34  boro_code                      0 non-null       object
dtypes: float64(5), int64(9), object(21)
memory usage: 56.5+ MB

In [26]:
#Change zipcode to int from float
col19['zip_code'] = col19['zip_code'].fillna(value=0)
col19['zip_code'] = col19['zip_code'].astype(int)

#Change zipcode to int from float
col20['zip_code'] = col20['zip_code'].fillna(value=0)
col20['zip_code'] = col20['zip_code'].astype(int)

# Let's Combine!

In [27]:
col19.isnull().sum()

crash_date                            0
crash_time                            0
borough                           74458
zip_code                              0
latitude                          17370
longitude                         17370
location                          17370
on_street_name                    51000
cross_street_name                107283
off_street_name                  160509
number_of_persons_injured             0
number_of_persons_killed              0
number_of_pedestrians_injured         0
number_of_pedestrians_killed          0
number_of_cyclist_injured             0
number_of_cyclist_killed              0
number_of_motorist_injured            0
number_of_motorist_killed             0
contributing_factor_vehicle_1       733
contributing_factor_vehicle_2     33276
contributing_factor_vehicle_3    197382
contributing_factor_vehicle_4    208485
contributing_factor_vehicle_5    210683
collision_id                          0
vehicle_type_code_1                1377
vehicle_type_code_2               44454
vehicle_type_code_3              197996
vehicle_type_code_4              208581
vehicle_type_code_5              210704
month                                 0
year                                  0
on_street_clean                   51000
cross_street_clean               107283
off_street_clean                 160509
boro_code                        211481
dtype: int64

In [28]:
nineteen = col19.merge(crash19, how='left', on=['collision_id','month','year',
                                                #'boro_code',
                                                'number_of_persons_injured','number_of_persons_killed',
                                                'number_of_pedestrians_injured','number_of_pedestrians_killed',
                                                'number_of_cyclist_injured','number_of_cyclist_killed',
                                                'number_of_motorist_injured','number_of_motorist_killed',
                                               ])
nineteen.head()

,crash_date,crash_time,borough_x,zip_code_x,latitude_x,longitude_x,location,on_street_name_x,cross_street_name_x,off_street_name,...,latitude_y,longitude_y,borough_y,zip_code_y,crash_count,contributing_factors,vehicle_types,boro_code_y,on_street_clean_y,cross_street_clean_y
0,2019-10-29,7:00,NaN,0,NaN,NaN,NaN,BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-07-22,9:00,BROOKLYN,11229,40.59807,-73.95817,"(40.59807, -73.95817)",NaN,NaN,2116 EAST 13 STREET,...,40.59807,-73.95817,Brooklyn,11229.0,1.0,Backing Unsafely,Sedan,3,NaN,2116 EAST 13 STREET
2,2019-10-28,0:00,BRONX,10467,NaN,NaN,NaN,EAST 213 STREET,WHITE PLAINS ROAD,NaN,...,NaN,NaN,NaN,10467.0,1.0,"Backing Unsafely,Driver Inattention/Distraction","Pick-up Truck,Sedan",NaN,EAST 213 STREET,NaN
3,2019-06-23,11:00,QUEENS,11421,40.69401,-73.86310,"(40.69401, -73.8631)",NaN,NaN,85-69 80 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-10-28,0:10,QUEENS,11434,NaN,NaN,NaN,belt parkway,150 street,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
twenty = col20.merge(crash20, how='left', on=['collision_id','month','year',
                                                #'boro_code',
                                                'number_of_persons_injured','number_of_persons_killed',
                                                'number_of_pedestrians_injured','number_of_pedestrians_killed',
                                                'number_of_cyclist_injured','number_of_cyclist_killed',
                                                'number_of_motorist_injured','number_of_motorist_killed',
                                               ])
twenty.head()

,crash_date,crash_time,borough_x,zip_code_x,latitude_x,longitude_x,location,on_street_name_x,cross_street_name_x,off_street_name,...,latitude_y,longitude_y,borough_y,zip_code_y,crash_count,contributing_factors,vehicle_types,boro_code_y,on_street_clean_y,cross_street_clean_y
0,2020-12-11,20:40,NaN,0,40.741074,-73.72580,"(40.741074, -73.7258)",CROSS ISLAND PARKWAY,UNION TURNPIKE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-12-12,2:54,NaN,0,NaN,NaN,NaN,STATEN ISLAND EXPRESSWAY,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-12-23,18:03,BROOKLYN,11219,40.637054,-73.98643,"(40.637054, -73.98643)",14 AVENUE,43 STREET,NaN,...,40.637054,-73.98643,Brooklyn,11219.0,1.0,Driver Inattention/Distraction,Station Wagon/Sport Utility Vehicle,3,14 AVENUE,NaN
3,2020-12-05,18:42,NaN,0,40.801754,-73.93121,"(40.801754, -73.93121)",1 AVENUE,EAST 125 STREET,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-12-08,12:25,BROOKLYN,11203,40.653324,-73.93829,"(40.653324, -73.93829)",LINDEN BOULEVARD,EAST 42 STREET,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Checking if we can merge on 'boro_code' or 'borough', but it seems unlikely as one of the df may have it but not the other. If we merge them, they are going to be NaN.

In [30]:
print(col19.shape)
print(crash19.shape)
print(nineteen.shape)

(211481, 35)
(45339, 26)
(211481, 50)

In [31]:
nineteen.iloc[0]

crash_date                                                2019-10-29
crash_time                                                      7:00
borough_x                                                        NaN
zip_code_x                                                         0
latitude_x                                                       NaN
longitude_x                                                      NaN
location                                                         NaN
on_street_name_x                          BROOKLYN QUEENS EXPRESSWAY
cross_street_name_x                                              NaN
off_street_name                                                  NaN
number_of_persons_injured                                          0
number_of_persons_killed                                           0
number_of_pedestrians_injured                                      0
number_of_pedestrians_killed                                       0
number_of_cyclist_injured                                          0
number_of_cyclist_killed                                           0
number_of_motorist_injured                                         0
number_of_motorist_killed                                          0
contributing_factor_vehicle_1                  Following Too Closely
contributing_factor_vehicle_2                            Unspecified
contributing_factor_vehicle_3                                    NaN
contributing_factor_vehicle_4                                    NaN
contributing_factor_vehicle_5                                    NaN
collision_id                                                 4232589
vehicle_type_code_1                                    Pick-up Truck
vehicle_type_code_2              Station Wagon/Sport Utility Vehicle
vehicle_type_code_3                                              NaN
vehicle_type_code_4                                              NaN
vehicle_type_code_5                                              NaN
month                                                             10
year                                                            2019
on_street_clean_x                         BROOKLYN QUEENS EXPRESSWAY
cross_street_clean_x                                             NaN
off_street_clean                                                 NaN
boro_code_x                                                      NaN
the_geom                                                         NaN
cartodb_id                                                       NaN
on_street_name_y                                                 NaN
cross_street_name_y                                              NaN
date_time                                                        NaT
latitude_y                                                       NaN
longitude_y                                                      NaN
borough_y                                                        NaN
zip_code_y                                                       NaN
crash_count                                                      NaN
contributing_factors                                             NaN
vehicle_types                                                    NaN
boro_code_y                                                      NaN
on_street_clean_y                                                NaN
cross_street_clean_y                                             NaN
Name: 0, dtype: object

In [32]:
crash19[crash19['collision_id']==4124171]

,the_geom,cartodb_id,collision_id,on_street_name,cross_street_name,date_time,latitude,longitude,borough,zip_code,...,number_of_pedestrians_killed,number_of_persons_injured,number_of_persons_killed,contributing_factors,vehicle_types,month,year,boro_code,on_street_clean,cross_street_clean
0,0101000020E61000009BC937DBDC7E52C07F4B00FE295D...,2509642,4124171,AVENUE A,NaN,2019-04-29 16:55:00+00:00,40.727844,-73.98223,Manhattan,10009,...,0,1,0,Alcohol Involvement,Bike,4,2019,1,AVENUE A,NaN

In [33]:
crash19.shape

(45339, 26)

In [34]:
col19.shape

(211481, 35)

In [35]:
col19[col19['collision_id']==4124171]

,crash_date,crash_time,borough,zip_code,latitude,longitude,location,on_street_name,cross_street_name,off_street_name,...,vehicle_type_code_2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5,month,year,on_street_clean,cross_street_clean,off_street_clean,boro_code
159942,2019-04-29,16:55,MANHATTAN,10009,40.727844,-73.98223,"(40.727844, -73.98223)",AVENUE A,EAST 10 STREET,NaN,...,NaN,NaN,NaN,NaN,4,2019,AVENUE A,EAST 10 STREET,NaN,NaN

In [36]:
col19.iloc[159942]

crash_date                                   2019-04-29
crash_time                                        16:55
borough                                       MANHATTAN
zip_code                                          10009
latitude                                        40.7278
longitude                                      -73.9822
location                         (40.727844, -73.98223)
on_street_name                                 AVENUE A
cross_street_name                        EAST 10 STREET
off_street_name                                     NaN
number_of_persons_injured                             1
number_of_persons_killed                              0
number_of_pedestrians_injured                         0
number_of_pedestrians_killed                          0
number_of_cyclist_injured                             1
number_of_cyclist_killed                              0
number_of_motorist_injured                            0
number_of_motorist_killed                             0
contributing_factor_vehicle_1       Alcohol Involvement
contributing_factor_vehicle_2                       NaN
contributing_factor_vehicle_3                       NaN
contributing_factor_vehicle_4                       NaN
contributing_factor_vehicle_5                       NaN
collision_id                                    4124171
vehicle_type_code_1                                Bike
vehicle_type_code_2                                 NaN
vehicle_type_code_3                                 NaN
vehicle_type_code_4                                 NaN
vehicle_type_code_5                                 NaN
month                                                 4
year                                               2019
on_street_clean                                AVENUE A
cross_street_clean                       EAST 10 STREET
off_street_clean                                    NaN
boro_code                                           NaN
Name: 159942, dtype: object

In [37]:
nineteen[col19['collision_id']==4124171]

,crash_date,crash_time,borough_x,zip_code_x,latitude_x,longitude_x,location,on_street_name_x,cross_street_name_x,off_street_name,...,latitude_y,longitude_y,borough_y,zip_code_y,crash_count,contributing_factors,vehicle_types,boro_code_y,on_street_clean_y,cross_street_clean_y
159942,2019-04-29,16:55,MANHATTAN,10009,40.727844,-73.98223,"(40.727844, -73.98223)",AVENUE A,EAST 10 STREET,NaN,...,40.727844,-73.98223,Manhattan,10009.0,1.0,Alcohol Involvement,Bike,1,AVENUE A,NaN

In [38]:
nineteen.iloc[159942]

crash_date                                                              2019-04-29
crash_time                                                                   16:55
borough_x                                                                MANHATTAN
zip_code_x                                                                   10009
latitude_x                                                                 40.7278
longitude_x                                                               -73.9822
location                                                    (40.727844, -73.98223)
on_street_name_x                                                          AVENUE A
cross_street_name_x                                                 EAST 10 STREET
off_street_name                                                                NaN
number_of_persons_injured                                                        1
number_of_persons_killed                                                         0
number_of_pedestrians_injured                                                    0
number_of_pedestrians_killed                                                     0
number_of_cyclist_injured                                                        1
number_of_cyclist_killed                                                         0
number_of_motorist_injured                                                       0
number_of_motorist_killed                                                        0
contributing_factor_vehicle_1                                  Alcohol Involvement
contributing_factor_vehicle_2                                                  NaN
contributing_factor_vehicle_3                                                  NaN
contributing_factor_vehicle_4                                                  NaN
contributing_factor_vehicle_5                                                  NaN
collision_id                                                               4124171
vehicle_type_code_1                                                           Bike
vehicle_type_code_2                                                            NaN
vehicle_type_code_3                                                            NaN
vehicle_type_code_4                                                            NaN
vehicle_type_code_5                                                            NaN
month                                                                            4
year                                                                          2019
on_street_clean_x                                                         AVENUE A
cross_street_clean_x                                                EAST 10 STREET
off_street_clean                                                               NaN
boro_code_x                                                                    NaN
the_geom                         0101000020E61000009BC937DBDC7E52C07F4B00FE295D...
cartodb_id                                                             2.50964e+06
on_street_name_y                                                          AVENUE A
cross_street_name_y                                                            NaN
date_time                                                2019-04-29 16:55:00+00:00
latitude_y                                                                 40.7278
longitude_y                                                               -73.9822
borough_y                                                                Manhattan
zip_code_y                                                                   10009
crash_count                                                                      1
contributing_factors                                           Alcohol Involvement
vehicle_types                                                                 Bike
boro_code_y                                                                      1
on_street_clean_y                                                         AVENUE A
cross_street_clean_y                                                           NaN
Name: 159942, dtype: object

In [39]:
print(col19[col19['collision_id']==4124171].shape)
print(crash19[crash19['collision_id']==4124171].shape)
print(nineteen[nineteen['collision_id']==4124171].shape)

(1, 35)
(1, 26)
(1, 50)

# NEW
# Let's check x and y

In [40]:
nineteen.borough_y.unique()

array([nan, 'Brooklyn', 'Manhattan', 'Staten Island', 'Bronx', 'Queens'],
      dtype=object)

In [41]:
nineteen.borough_x.unique()

array([nan, 'BROOKLYN', 'BRONX', 'QUEENS', 'MANHATTAN', 'STATEN ISLAND'],
      dtype=object)

In [42]:
nineteen.isnull().sum()

crash_date                            0
crash_time                            0
borough_x                         74458
zip_code_x                            0
latitude_x                        17370
longitude_x                       17370
location                          17370
on_street_name_x                  51000
cross_street_name_x              107283
off_street_name                  160509
number_of_persons_injured             0
number_of_persons_killed              0
number_of_pedestrians_injured         0
number_of_pedestrians_killed          0
number_of_cyclist_injured             0
number_of_cyclist_killed              0
number_of_motorist_injured            0
number_of_motorist_killed             0
contributing_factor_vehicle_1       733
contributing_factor_vehicle_2     33276
contributing_factor_vehicle_3    197382
contributing_factor_vehicle_4    208485
contributing_factor_vehicle_5    210683
collision_id                          0
vehicle_type_code_1                1377
vehicle_type_code_2               44454
vehicle_type_code_3              197996
vehicle_type_code_4              208581
vehicle_type_code_5              210704
month                                 0
year                                  0
on_street_clean_x                 51000
cross_street_clean_x             107283
off_street_clean                 160509
boro_code_x                      211481
the_geom                         170048
cartodb_id                       166161
on_street_name_y                 173320
cross_street_name_y              204331
date_time                        166161
latitude_y                       169994
longitude_y                      169994
borough_y                        170093
zip_code_y                       166161
crash_count                      166161
contributing_factors             166856
vehicle_types                    167337
boro_code_y                      170093
on_street_clean_y                173320
cross_street_clean_y             204331
dtype: int64

In [43]:
len(nineteen)

211481

In [44]:
len(twenty)

112848

# Save as a New File

In [50]:
nineteen.to_csv(r'/Users/sheila/milestone1/projects/assets/collision19.csv', index=False)
twenty.to_csv(r'/Users/sheila/milestone1/projects/assets/collision20.csv', index=False)