In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [3]:
con = sqlite3.connect('tickets.db')
cur = con.cursor()

In [7]:
test =  pd.read_sql_query("Select * FROM Parking_Violations_2015 WHERE ViolationCode='21'",con)

In [8]:
test

,SummonsNumber,PlateID,RegistrationState,PlateType,IssueDate,ViolationCode,VehicleBodyType,VehicleMake,IssuingAgency,StreetCode1,...,HydrantViolation,DoubleParkingViolation,Latitude,Longitude,CommunityBoard,CommunityCouncil,CensusTract,BIN,BBL,NTA
0,8.002531e+09,EPC5238,NY,PAS,10/01/2014,21,SUBN,CHEVR,T,20390,...,None,None,None,None,None,None,None,None,None,None
1,7.704791e+09,JJF6834,PA,PAS,11/20/2014,21,4DSD,NISSA,T,74230,...,None,None,None,None,None,None,None,None,None,None
2,7.541599e+09,FYP8263,NY,PAS,08/01/2014,21,SUBN,HONDA,T,77530,...,None,None,None,None,None,None,None,None,None,None
3,8.007006e+09,122YEZ,CT,PAS,08/26/2014,21,4DSD,NISSA,T,5580,...,None,None,None,None,None,None,None,None,None,None
4,8.035701e+09,GKB7155,NY,PAS,06/09/2015,21,SUBN,CHRYS,T,89030,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1630907,7.566378e+09,FSA4968,NY,PAS,05/04/2015,21,SUBN,INFIN,T,29320,...,None,None,None,None,None,None,None,None,None,None
1630908,7.967891e+09,W94DGY,NJ,PAS,07/16/2014,21,SUBN,HONDA,T,0,...,None,None,None,None,None,None,None,None,None,None
1630909,7.565430e+09,931DM9,MA,PAS,04/30/2015,21,4DSD,VOLVO,T,86530,...,None,None,None,None,None,None,None,None,None,None
1630910,7.098173e+09,GRA3774,NY,PAS,08/11/2014,21,4DSD,LEXUS,T,14380,...,None,None,None,None,None,None,None,None,None,None
1630911,7.699896e+09,GGF3188,NY,PAS,06/08/2015,21,SUBN,ME/BE,T,93830,...,None,None,None,None,None,None,None,None,None,None