In [2]:
import pandas as pd 
import numpy as np 
import re
# import geopandas as gp

In [3]:
school_violation= pd.read_pickle("schoolzoneviolation.pickle")
# speed_cam= pd.read_pickle("speedcameralocations.pickle")

In [4]:
school_violation.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation,Clean Violation Des,Boro Code
31642,4658020142,AEXQ73,FL,PAS,06/12/2019 12:00:00 AM,36,4D,CHEVR,V,0,...,2019,None,0,None,PHTO SCHOOL ZN SPEED VIOLATION,NaN,NaN,NaN,PHTO SCHOOL ZN SPEED VIOLATION,4
52900,4657973915,JFM9745,NY,PAS,06/17/2019 12:00:00 AM,36,4DSD,HONDA,V,0,...,2015,None,0,None,PHTO SCHOOL ZN SPEED VIOLATION,NaN,NaN,NaN,PHTO SCHOOL ZN SPEED VIOLATION,2
52901,4657973903,JHK7324,NY,PAS,06/17/2019 12:00:00 AM,36,4DSD,KIA,V,0,...,2019,None,0,None,PHTO SCHOOL ZN SPEED VIOLATION,NaN,NaN,NaN,PHTO SCHOOL ZN SPEED VIOLATION,3
52902,4657973897,HHZ6123,NY,PAS,06/17/2019 12:00:00 AM,36,SUBN,NISSA,V,0,...,2011,None,0,None,PHTO SCHOOL ZN SPEED VIOLATION,NaN,NaN,NaN,PHTO SCHOOL ZN SPEED VIOLATION,3
58798,4657973939,HWU8157,NY,PAS,06/18/2019 12:00:00 AM,36,SUBN,SUBAR,V,0,...,2018,None,0,None,PHTO SCHOOL ZN SPEED VIOLATION,NaN,NaN,NaN,PHTO SCHOOL ZN SPEED VIOLATION,2

In [5]:
school_violation.columns

Index(['Summons Number', 'Plate ID', 'Registration State', 'Plate Type',
       'Issue Date', 'Violation Code', 'Vehicle Body Type', 'Vehicle Make',
       'Issuing Agency', 'Street Code1', 'Street Code2', 'Street Code3',
       'Vehicle Expiration Date', 'Violation Location', 'Violation Precinct',
       'Issuer Precinct', 'Issuer Code', 'Issuer Command', 'Issuer Squad',
       'Violation Time', 'Time First Observed', 'Violation County',
       'Violation In Front Of Or Opposite', 'House Number', 'Street Name',
       'Intersecting Street', 'Date First Observed', 'Law Section',
       'Sub Division', 'Violation Legal Code', 'Days Parking In Effect',
       'From Hours In Effect', 'To Hours In Effect', 'Vehicle Color',
       'Unregistered Vehicle?', 'Vehicle Year', 'Meter Number',
       'Feet From Curb', 'Violation Post Code', 'Violation Description',
       'No Standing or Stopping Violation', 'Hydrant Violation',
       'Double Parking Violation', 'Clean Violation Des', 'Boro Code'],
      dtype='object')

In [6]:
school_violation["Violation Code"].unique()

array([36], dtype=int64)

In [7]:
# speed_cam.head()

# Testing GoogleMaps API

In [8]:
import googlemaps

gmaps= googlemaps.Client( key= "___________")

In [9]:
geocode_result= gmaps.geocode("EB 23 AV. 87 ST - 94	")

In [10]:
lat, lon= geocode_result[0]["geometry"]["location"].values()
print(lat, lon)

40.767281 -73.88237

In [11]:
def get_lat_lon(row):
    try:

        gmaps= googlemaps.Client( key= "AIzaSyDMfN68v46O6ZSvU17UVSLkXcs-D-2Zsyg")
        geocode_result= gmaps.geocode(row)
        lat, lon= geocode_result[0]["geometry"]["location"].values()
    except:
        lat, lon= None, None
    return lat, lon

### Testing on a small subsample of the data

In [12]:
test= school_violation.loc[:, ["Street Name", "Intersecting Street", ]].sample(10)

In [13]:
test["Intersecting Street"]= test["Intersecting Street"].fillna(" ")

In [14]:
test["Street_name_geo"]= test["Street Name"] + " @ " + test["Intersecting Street"]

In [15]:
test

,Street Name,Intersecting Street,Street_name_geo
5838917,SB CASTLE HILL AV LA,FAYTTE AV - LACMBE,SB CASTLE HILL AV LA @ FAYTTE AV - LACMBE
11760997,NB CROPSEY AVE @ 25T,H AVE,NB CROPSEY AVE @ 25T @ H AVE
10717707,WB MERRICK BLVD @ 10,9TH AVE,WB MERRICK BLVD @ 10 @ 9TH AVE
11063090,NB 3RD AVE @ E 66TH,ST,NB 3RD AVE @ E 66TH @ ST
10669967,SB 21ST ST @ 36TH AV,E,SB 21ST ST @ 36TH AV @ E
5363884,NB BEDFORD AVE @ GAT,ES AVE,NB BEDFORD AVE @ GAT @ ES AVE
11268530,EB 48TH AVE @ 206TH,ST,EB 48TH AVE @ 206TH @ ST
9491130,EB NORTHERN BLVD @ A,LAMEDA AVE,EB NORTHERN BLVD @ A @ LAMEDA AVE
10497814,NB PENNSYLVANIA AVE,@ HORNELL LOOP,NB PENNSYLVANIA AVE @ @ HORNELL LOOP
11997176,WB 86TH ST @ RIDGE B,LVD,WB 86TH ST @ RIDGE B @ LVD

In [16]:
# test["lat"]= test["Street_name_geo"].apply(lambda x: get_lat_lon(x)[0])
# test["lon"]= test["Street_name_geo"].apply(lambda x: get_lat_lon(x)[1])
# test

,Street Name,Intersecting Street,Street_name_geo,lat,lon
5838917,SB CASTLE HILL AV LA,FAYTTE AV - LACMBE,SB CASTLE HILL AV LA @ FAYTTE AV - LACMBE,40.714124,-74.003957
11760997,NB CROPSEY AVE @ 25T,H AVE,NB CROPSEY AVE @ 25T @ H AVE,40.592354,-73.993033
10717707,WB MERRICK BLVD @ 10,9TH AVE,WB MERRICK BLVD @ 10 @ 9TH AVE,40.696891,-73.784453
11063090,NB 3RD AVE @ E 66TH,ST,NB 3RD AVE @ E 66TH @ ST,40.766200,-73.962801
10669967,SB 21ST ST @ 36TH AV,E,SB 21ST ST @ 36TH AV @ E,40.759872,-73.936821
5363884,NB BEDFORD AVE @ GAT,ES AVE,NB BEDFORD AVE @ GAT @ ES AVE,40.685509,-73.954254
11268530,EB 48TH AVE @ 206TH,ST,EB 48TH AVE @ 206TH @ ST,40.753501,-73.774743
9491130,EB NORTHERN BLVD @ A,LAMEDA AVE,EB NORTHERN BLVD @ A @ LAMEDA AVE,39.366807,-76.593591
10497814,NB PENNSYLVANIA AVE,@ HORNELL LOOP,NB PENNSYLVANIA AVE @ @ HORNELL LOOP,40.645187,-73.878555
11997176,WB 86TH ST @ RIDGE B,LVD,WB 86TH ST @ RIDGE B @ LVD,40.624109,-74.033750

In [17]:
test["lat"]= test["Street Name"].apply(lambda x: get_lat_lon(x)[0])
test["lon"]= test["Street Name"].apply(lambda x: get_lat_lon(x)[1])
test

,Street Name,Intersecting Street,Street_name_geo,lat,lon
5838917,SB CASTLE HILL AV LA,FAYTTE AV - LACMBE,SB CASTLE HILL AV LA @ FAYTTE AV - LACMBE,40.830897,-73.850594
11760997,NB CROPSEY AVE @ 25T,H AVE,NB CROPSEY AVE @ 25T @ H AVE,40.607669,-74.016959
10717707,WB MERRICK BLVD @ 10,9TH AVE,WB MERRICK BLVD @ 10 @ 9TH AVE,40.703701,-73.792410
11063090,NB 3RD AVE @ E 66TH,ST,NB 3RD AVE @ E 66TH @ ST,40.765943,-73.963387
10669967,SB 21ST ST @ 36TH AV,E,SB 21ST ST @ 36TH AV @ E,40.759872,-73.936821
5363884,NB BEDFORD AVE @ GAT,ES AVE,NB BEDFORD AVE @ GAT @ ES AVE,40.717355,-73.956973
11268530,EB 48TH AVE @ 206TH,ST,EB 48TH AVE @ 206TH @ ST,NaN,-73.774743
9491130,EB NORTHERN BLVD @ A,LAMEDA AVE,EB NORTHERN BLVD @ A @ LAMEDA AVE,39.368228,-76.566906
10497814,NB PENNSYLVANIA AVE,@ HORNELL LOOP,NB PENNSYLVANIA AVE @ @ HORNELL LOOP,39.301805,-76.632384
11997176,WB 86TH ST @ RIDGE B,LVD,WB 86TH ST @ RIDGE B @ LVD,40.609347,-74.006092

### There are no near by schools in the vicinity

In [18]:
school_violation.isnull().sum()

Summons Number                             0
Plate ID                                   0
Registration State                         0
Plate Type                                 0
Issue Date                                 0
Violation Code                             0
Vehicle Body Type                       6032
Vehicle Make                             222
Issuing Agency                             0
Street Code1                               0
Street Code2                               0
Street Code3                               0
Vehicle Expiration Date                    0
Violation Location                   3809496
Violation Precinct                         0
Issuer Precinct                            0
Issuer Code                                0
Issuer Command                       3809495
Issuer Squad                         3809495
Violation Time                             0
Time First Observed                  3809496
Violation County                           0
Violation In Front Of Or Opposite    3809496
House Number                         3809496
Street Name                                0
Intersecting Street                   187823
Date First Observed                        0
Law Section                                0
Sub Division                               0
Violation Legal Code                       1
Days Parking In Effect               3809495
From Hours In Effect                 3809495
To Hours In Effect                   3809495
Vehicle Color                         288042
Unregistered Vehicle?                3809495
Vehicle Year                               0
Meter Number                         3809495
Feet From Curb                             0
Violation Post Code                  3809496
Violation Description                      1
No Standing or Stopping Violation    3809496
Hydrant Violation                    3809496
Double Parking Violation             3809496
Clean Violation Des                        0
Boro Code                                  0
dtype: int64

In [19]:
#filling the missing value with empty strings
school_violation["Intersecting Street"]= school_violation["Intersecting Street"].fillna("")
#joining the street name and intersecting street name together to create a better searchable query
school_violation["Street_name_geo"]= school_violation["Street Name"] + " @ " + school_violation["Intersecting Street"]

In [20]:
# #creating the lat and long using Google Maps Cloud API
# school_violation["lat"]= school_violation["Street_name_geo"].apply(lambda x: get_lat_lon(x)[0])
# school_violation["lon"]= school_violation["Street_name_geo"].apply(lambda x: get_lat_lon(x)[1])

In [21]:
school_violation.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation,Clean Violation Des,Boro Code,Street_name_geo
31642,4658020142,AEXQ73,FL,PAS,06/12/2019 12:00:00 AM,36,4D,CHEVR,V,0,...,None,0,None,PHTO SCHOOL ZN SPEED VIOLATION,NaN,NaN,NaN,PHTO SCHOOL ZN SPEED VIOLATION,4,EB 23 AV. 87 ST - 94 @ ST
52900,4657973915,JFM9745,NY,PAS,06/17/2019 12:00:00 AM,36,4DSD,HONDA,V,0,...,None,0,None,PHTO SCHOOL ZN SPEED VIOLATION,NaN,NaN,NaN,PHTO SCHOOL ZN SPEED VIOLATION,2,EB E TREMONT AVE @ B @ LONDELL AVE
52901,4657973903,JHK7324,NY,PAS,06/17/2019 12:00:00 AM,36,4DSD,KIA,V,0,...,None,0,None,PHTO SCHOOL ZN SPEED VIOLATION,NaN,NaN,NaN,PHTO SCHOOL ZN SPEED VIOLATION,3,SB SHORE RD @ 83RD S @ T
52902,4657973897,HHZ6123,NY,PAS,06/17/2019 12:00:00 AM,36,SUBN,NISSA,V,0,...,None,0,None,PHTO SCHOOL ZN SPEED VIOLATION,NaN,NaN,NaN,PHTO SCHOOL ZN SPEED VIOLATION,3,WB EASTERN PKWY @ CL @ ASSON AVE
58798,4657973939,HWU8157,NY,PAS,06/18/2019 12:00:00 AM,36,SUBN,SUBAR,V,0,...,None,0,None,PHTO SCHOOL ZN SPEED VIOLATION,NaN,NaN,NaN,PHTO SCHOOL ZN SPEED VIOLATION,2,EB E TREMONT AVE @ B @ LONDELL AVE

In [22]:
geocode_result= gmaps.geocode("SB MAIN ST @ 82ND DR @C")
lat, lon= geocode_result[0]["geometry"]["location"].values()
print(lat, lon)

34.04436260000001 -118.2513821

In [39]:
geocode_result= gmaps.geocode("SB MAIN ST @ 82ND DR @C")

In [48]:
tuple(geocode_result[0]["geometry"]["location"].values())

34.04436260000001

In [24]:
trgt_lst= school_violation["Street_name_geo"].unique()

In [25]:
trgt_lst

array(['EB 23 AV. 87 ST - 94 @ ST', 'EB E TREMONT AVE @ B @ LONDELL AVE',
       'SB SHORE RD @ 83RD S @ T', ..., 'EB WILSON AVE @ NOLL @ ST',
       'EB IRVING AVE @ GATE @ S AVE', 'EB SHERMAN AVE @ W 2 @ 04TH ST'],
      dtype=object)

In [54]:
len(trgt_lst)

1399

In [51]:
trgt_dict= {}

for name in trgt_lst:
    try:
        trgt_dict[name] = tuple(gmaps.geocode(name)[0]["geometry"]["location"].values())
    except:
        pass
# {name: tuple(gmaps.geocode(name)[0]["geometry"]["location"].values()) for name in trgt_lst}

In [58]:
school_violation["Street_name_geo"][:5]

31642             EB 23 AV. 87 ST - 94 @ ST
52900    EB E TREMONT AVE @ B @ LONDELL AVE
52901              SB SHORE RD @ 83RD S @ T
52902      WB EASTERN PKWY @ CL @ ASSON AVE
58798    EB E TREMONT AVE @ B @ LONDELL AVE
Name: Street_name_geo, dtype: object

In [67]:
def dict_geo(string):
    try:
        return trgt_dict[string]
    except:
        return (np.nan, np.nan)

In [66]:
dict_geo("EB E TREMONT AVE @ B @ LONDELL AVE")[1]

-73.8459137

In [68]:
#creating lat, lon columns 
school_violation["lat"]= school_violation["Street_name_geo"].apply(lambda x: dict_geo(x)[0])
school_violation["lon"]= school_violation["Street_name_geo"].apply(lambda x: dict_geo(x)[1])

In [77]:
#checking the percentage of missed lat and lon
school_violation.loc[:, ["Street_name_geo", "lat", "lon"]].isnull().sum()/school_violation.shape[0]*100

Street_name_geo    0.000000
lat                1.194095
lon                1.194095
dtype: float64

In [75]:
#looking at the difference between the street Names and Street_name_geo for the rows with missing lat/lon
school_violation.loc[school_violation["lat"].isnull(), ["Street Name", "Street_name_geo"]].drop_duplicates()

                   Street Name                         Street_name_geo
90423     SB BELL BV 73 AV - K      SB BELL BV 73 AV - K @ INGSBURY AV
90959     NB GUY BREWER BV 137     NB GUY BREWER BV 137 @ AV - 130 AVE
98317     WB 159TH AVE. 92ND S      WB 159TH AVE. 92ND S @ T - 85TH ST
98893     EB 37 AV 9 ST - 30 S                EB 37 AV 9 ST - 30 S @ T
99312      NB 6 AV. CANAL ST -         NB 6 AV. CANAL ST - @ PRINCE ST
...                        ...                                     ...
11992698  WB ROCKAWAY BEACH BL  WB ROCKAWAY BEACH BL @ VD @ B 110TH ST
12003458  WB GLENWOOD RD @ E 8           WB GLENWOOD RD @ E 8 @ 7TH ST
12004081  NB 12TH AVE @ 38TH S                NB 12TH AVE @ 38TH S @ T
12005463  NB BERRY ST @ N 13TH               NB BERRY ST @ N 13TH @ ST
12005524  WB 108TH AVE @ 173RD               WB 108TH AVE @ 173RD @ ST

[106 rows x 2 columns]

In [78]:
school_violation.to_pickle("schoolviolation_geo.pickle")

In [83]:
school_violation= school_violation.reset_index()

In [85]:
school_violation.to_feather("schoolviolation_geo_feather.feather")