In [11]:
import pandas as pd
import numpy as np
import feather
import pickle
import re
import sqlite3
import geopandas as gpd
import altair as alt

# optional libs to run other non-core code
from polyfuzz import PolyFuzz
from polyfuzz.models import EditDistance, TFIDF, Embeddings
from flair.embeddings import TransformerWordEmbeddings

# note pandarallel works well on mac but has issue with windows
# see requirements for windows  - https://github.com/nalepae/pandarallel
from pandarallel import pandarallel
pandarallel.initialize(progress_bar=True)

pd.options.display.max_columns = None
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# connect to the database
# note: connects to/creates a db file with the name in the quotes if does not exist
con = sqlite3.connect('streetsofnyc.db')
cur = con.cursor()

INFO: Pandarallel will run on 4 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

In [9]:
query='''
Select Count(`Summons Number`),L_CD, cd_short_title,poverty_rate,unemployment,pct_non_white_nh,pct_foreign_born  
FROM ticketstreetdem
GROUP BY L_CD
HAVING `ISSUE DATE` LIKE '%2020%'
'''

test=pd.read_sql_query(query,con)

In [14]:
df=test[~test['poverty_rate'].isnull()].copy()
df['Boro']=df['cd_short_title'].apply(lambda x: x.split()[0])

In [15]:
df

,Count(`Summons Number`),L_CD,cd_short_title,poverty_rate,unemployment,pct_non_white_nh,pct_foreign_born,Boro
1,377901,101,Manhattan CD 1,8.800,2.800,27.800,23.300,Manhattan
2,694262,102,Manhattan CD 2,8.800,2.800,27.800,23.300,Manhattan
3,480288,103,Manhattan CD 3,19.300,3.600,66.700,34.500,Manhattan
4,697508,104,Manhattan CD 4,11.300,3.500,40.900,30.800,Manhattan
5,1328251,105,Manhattan CD 5,11.300,3.500,40.900,30.800,Manhattan
6,548687,106,Manhattan CD 6,9.800,2.500,30.300,23.200,Manhattan
7,699726,107,Manhattan CD 7,9.200,3.300,32.000,22.100,Manhattan
8,843079,108,Manhattan CD 8,7.200,2.000,24.700,23.600,Manhattan
9,248383,109,Manhattan CD 9,20.700,3.800,72.400,34.600,Manhattan
10,325736,110,Manhattan CD 10,20.200,6.200,85.800,23.400,Manhattan
11,300862,111,Manhattan CD 11,22.300,5.300,86.300,23.500,Manhattan
12,361348,112,Manhattan CD 12,19.600,6.100,81.100,46.400,Manhattan
14,157372,201,Bronx CD 1,31.000,6.100,98.000,30.200,Bronx
15,96408,202,Bronx CD 2,31.000,6.100,98.000,30.200,Bronx
16,89375,203,Bronx CD 3,30.300,7.800,96.000,31.400,Bronx
17,223065,204,Bronx CD 4,32.400,6.300,98.000,42.900,Bronx
18,287451,205,Bronx CD 5,35.600,7.300,98.900,42.800,Bronx
19,167062,206,Bronx CD 6,30.300,7.800,96.000,31.400,Bronx
20,301101,207,Bronx CD 7,27.400,7.500,94.200,44.500,Bronx
21,111982,208,Bronx CD 8,15.800,5.000,67.700,34.200,Bronx
22,260985,209,Bronx CD 9,27.600,6.000,97.100,33.100,Bronx
23,156334,210,Bronx CD 10,14.000,4.400,72.500,21.300,Bronx
24,213796,211,Bronx CD 11,20.600,6.000,78.300,33.600,Bronx
25,195622,212,Bronx CD 12,20.900,6.300,93.700,40.400,Bronx
29,476211,301,Brooklyn CD 1,15.500,3.700,37.000,22.900,Brooklyn
30,539700,302,Brooklyn CD 2,11.000,4.600,53.600,19.400,Brooklyn
31,348201,303,Brooklyn CD 3,21.200,5.700,74.000,19.800,Brooklyn
32,178482,304,Brooklyn CD 4,24.800,5.600,81.100,30.800,Brooklyn
33,188207,305,Brooklyn CD 5,28.700,4.400,96.300,35.500,Brooklyn
34,266667,306,Brooklyn CD 6,9.600,4.000,35.900,16.700,Brooklyn
35,203975,307,Brooklyn CD 7,27.900,3.800,75.600,46.200,Brooklyn
36,211902,308,Brooklyn CD 8,20.400,4.600,77.700,28.600,Brooklyn
37,129388,309,Brooklyn CD 9,20.800,5.400,77.200,40.200,Brooklyn
38,183144,310,Brooklyn CD 10,19.000,3.800,45.400,39.100,Brooklyn
39,181018,311,Brooklyn CD 11,22.500,4.100,59.800,55.700,Brooklyn
40,289375,312,Brooklyn CD 12,27.200,3.200,28.900,28.700,Brooklyn
41,112599,313,Brooklyn CD 13,24.400,4.500,44.100,52.300,Brooklyn
42,263401,314,Brooklyn CD 14,21.500,4.400,59.200,41.600,Brooklyn
43,286120,315,Brooklyn CD 15,18.600,3.700,34.500,49.400,Brooklyn
44,123349,316,Brooklyn CD 16,29.400,7.000,97.400,30.300,Brooklyn
45,167606,317,Brooklyn CD 17,19.500,4.300,97.300,52.200,Brooklyn
46,170127,318,Brooklyn CD 18,14.600,4.100,77.300,40.500,Brooklyn
49,768486,401,Queens CD 1,18.100,4.500,51.700,39.700,Queens
50,418617,402,Queens CD 2,18.800,2.900,71.100,53.900,Queens
51,462452,403,Queens CD 3,24.000,3.500,89.600,59.400,Queens
52,299420,404,Queens CD 4,25.600,3.100,93.800,62.800,Queens
53,443377,405,Queens CD 5,16.800,3.300,48.300,39.500,Queens
54,1051838,406,Queens CD 6,15.100,2.800,52.300,50.000,Queens
55,704448,407,Queens CD 7,25.500,2.500,74.600,56.900,Queens
56,576229,408,Queens CD 8,20.800,5.200,70.100,46.400,Queens
57,355237,409,Queens CD 9,21.500,4.200,82.000,51.100,Queens
58,260020,410,Queens CD 10,17.300,4.800,78.500,45.000,Queens
59,126773,411,Queens CD 11,14.100,2.700,60.600,43.600,Queens
60,493610,412,Queens CD 12,19.000,5.900,98.200,42.400,Queens
61,235178,413,Queens CD 13,12.300,4.400,89.100,42.200,Queens
62,149790,414,Queens CD 14,17.200,5.100,65.800,26.700,Queens
68,131479,501,Staten Island CD 1,21.200,2.900,62.300,25.100,Staten
69,106281,502,Staten Island CD 2,14.900,2.800,33.900,28.700,Staten
70,44731,503,Staten Island CD 3,12.300,2.800,17.100,15.900,Staten

In [35]:
bar = alt.Chart(df).mark_bar().encode(
    x='Count(`Summons Number`)',
    y='L_CD',
    color='Boro'
).properties(
    height=500,
    width=100
)
bar

alt.Chart(...)

In [40]:
a=alt.Chart(df).mark_point().encode(
    x='pct_non_white_nh',
    y='poverty_rate',
    color='Boro',
    tooltip='L_CD'
).properties(
    height=500,
    width=500
)

In [41]:
a|bar

alt.HConcatChart(...)

In [25]:
b=alt.Chart(df).mark_point().encode(
    x='Count(`Summons Number`)',
    y='unemployment',
    color='Boro',
    tooltip='L_CD'
)

In [26]:
c=alt.Chart(df).mark_point().encode(
    x='Count(`Summons Number`)',
    y='pct_non_white_nh',
    color='Boro',
    tooltip='L_CD'
)

In [27]:
d=alt.Chart(df).mark_point().encode(
    x='Count(`Summons Number`)',
    y='pct_foreign_born',
    color='Boro',
    tooltip='L_CD'
)

In [48]:
query='''
Select `Violation Code`, `Clean Violation Des`,Count(`Summons Number`) AS No_of_Tix,RW_Type,FeatureTyp 
FROM ticketstreetdem
GROUP BY RW_Type,FeatureTyp,`Violation Code`
HAVING `ISSUE DATE` LIKE '%2020%'
ORDER BY Count(`Summons Number`) DESC
'''

result=pd.read_sql_query(query,con)

In [51]:
result.head(50)

,Violation Code,Clean Violation Des,No_of_Tix,RW_TYPE,FeatureTyp
0,21,NO PARKING-STREET CLEANING,3815119,1,0
1,38,FAIL TO DSPLY MUNI METER RECPT,3016343,1,0
2,14,NO STANDING-DAY/TIME LIMITS,1923249,1,0
3,20,NO PARKING-DAY/TIME LIMITS,1517304,1,0
4,40,FIRE HYDRANT,1192211,1,0
5,46,DOUBLE PARKING,1174029,1,0
6,37,EXPIRED MUNI METER,1076130,1,0
7,71,INSP. STICKER-EXPIRED/MISSING,922617,1,0
8,19,NO STANDING-BUS STOP,769958,1,0
9,16,NO STANDING-EXC. TRUCK LOADING,659104,1,0
10,70,REG. STICKER-EXPIRED/MISSING,542212,1,0
11,69,FAIL TO DISP. MUNI METER RECPT,432368,1,0
12,74,FRONT OR BACK PLATE MISSING,421821,1,0
13,31,NO STANDING-COMM METER ZONE,381564,1,0
14,17,NO STANDING-EXC. AUTH. VEHICLE,243184,1,0
15,47,DOUBLE PARKING-MIDTOWN COMML,221801,1,0
16,48,BIKE LANE,218352,1,0
17,84,PLTFRM LFTS LWRD POS COMM VEH,183409,1,0
18,10,NO STOPPING-DAY/TIME LIMITS,138277,1,0
19,18,NO STANDING-BUS LANE,120546,1,0
20,51,SIDEWALK,116301,1,0
21,98,OBSTRUCTING DRIVEWAY,90216,1,0
22,78,NGHT PKG ON RESID STR-COMM VEH,88734,1,0
23,42,EXPIRED MUNI MTR-COMM MTR ZN,87789,1,0
24,53,SAFETY ZONE,84079,1,0
25,66,DETACHED TRAILER,62534,1,0
26,82,COMML PLATES-UNALTERED VEHICLE,61690,1,0
27,38,FAIL TO DSPLY MUNI METER RECPT,53753,1,6
28,13,NO STANDING-TAXI STAND,46666,1,0
29,72,INSP STICKER-MUTILATED/C'FEIT,39213,1,0
30,68,NON-COMPLIANCE W/ POSTED SIGN,37806,1,0
31,85,STORAGE-3HR COMMERCIAL,35993,1,0
32,21,NO PARKING-STREET CLEANING,27160,1,6
33,61,WRONG WAY,26053,1,0
34,75,NO MATCH-PLATE/STICKER,25055,1,0
35,77,PARKED BUS-EXC. DESIG. AREA,22330,1,0
36,37,EXPIRED MUNI METER,20641,1,6
37,64,NO STANDING EXCP D/S,19859,1,0
38,11,NO STANDING-HOTEL LOADING,18697,1,0
39,14,NO STANDING-DAY/TIME LIMITS,18131,1,6
40,19,NO STANDING-BUS STOP,14806,1,6
41,33,MISUSE PARKING PERMIT,14424,1,0
42,50,CROSSWALK,14181,1,0
43,22,NO STAND TAXI/FHV RELIEF STAND,12820,1,0
44,45,TRAFFIC LANE,12475,1,0
45,83,IMPROPER REGISTRATION,11445,1,0
46,73,REG STICKER-MUTILATED/C'FEIT,9951,1,0
47,27,NO PARKING-EXC. DSBLTY PERMIT,9700,1,0
48,79,UNAUTHORIZED BUS LAYOVER,8885,1,0
49,67,PEDESTRIAN RAMP,8156,1,0

## Unused Code for Reference

In [ ]:
%%time

query='''
CREATE TABLE LION_Dem AS
SELECT 
b.OBJECTID,b.Street,b.FeatureTyp,b.SegmentTyp,b.NonPed,b.TrafDir,b.LocStatus,b.LZip,b.RZip,b.LBoro,b.RBoro,
b.L_CD,b.R_CD,b.CurveFlag,b.Radius,b.RW_Type,b.PhysicalID,b.StreetWidt,b.BikeLane,b.BIKE_Trafd,b.Number_Tra,
b.Number_Par,b.Number_Tot,b.Posted_Spe,b.Truck_Rout,b.c_lowadd,b.c_highadd,b.StreetCode,
a.cd_short_title,a.cd_tot_bldgs,a.cd_tot_resunits,a.crime_count,a.crime_per_1000,a.lep_rate,a.lots_commercial_office,a.lots_industrial_manufacturing,
a.lots_mixed_use,a.lots_open_space,a.lots_parking,a.lots_total,a.mean_commute,a.over65_rate,a.under18_rate,
a.pct_bach_deg,a.pct_foreign_born,a.pct_hh_rent_burd,a.pct_white_nh,a.pct_black_nh,(100-a.pct_white_nh) AS pct_non_white_nh,
a.poverty_rate,a.unemployment 
FROM LION b
LEFT OUTER JOIN cd_indic a
ON b.L_CD = a.borocd
'''

con.execute(query)

## Merge Tickets with Streets and Demographics to New Table

Query to create new table ticketstreetdem - combines tickets data with street and demographic details

In [ ]:
%%time

query='''
CREATE TABLE IF NOT EXISTS ticketstreetdem AS
SELECT a.`Summons Number`,a.`Violation Code`,a.`Clean Violation Des`,a.`Issue Date`,a.`Violation Time`,b.*
FROM tickets a
LEFT OUTER JOIN LION_Dem b
ON a.Street1LU = b.StreetCode
WHERE b.c_lowadd<=a.`House Number Clean`
AND b.c_highadd>=a.`House Number Clean`
'''
con.execute(query)

In [ ]:
query='''
Select * from ticketstreetdem
WHERE `ISSUE DATE` LIKE '%2020%'
'''

test=pd.read_sql_query(query,con)

In [ ]:
test

In [ ]:
%%time

query='''
SELECT a.`Summons Number`,a.`Violation Code`,a.`Clean Violation Des`,a.`Issue Date`,a.`Violation Time`,
b.OBJECTID,b.Street,b.FeatureTyp,b.SegmentTyp,b.NonPed,b.TrafDir,b.LocStatus,b.LZip,b.RZip,b.LBoro,b.RBoro,
b.L_CD,b.R_CD,b.CurveFlag,b.Radius,b.RW_Type,b.PhysicalID,b.StreetWidt,b.BikeLane,b.BIKE_Trafd,b.Number_Tra,
b.Number_Par,b.Number_Tot,b.Posted_Spe,b.Truck_Rout
FROM ticket20 a
LEFT OUTER JOIN LION b
ON a.Street1LU = b.StreetCode
WHERE b.c_lowadd<=a.`House Number Clean`
AND b.c_highadd>=a.`House Number Clean`
'''

summon_object20 = pd.read_sql_query(query,con)
summon_object20